{% extends 'web/base.html.twig' %}

{% block title_page %}
    DB || Find your medics
{% endblock %}

{% block classbg %}
    listing-with-map-page
{% endblock %} 

{% block content %}

<style type="text/css">
    .demo{
        margin-top:40px;
        vertical-align: bottom;
        background-position: center;
        background-size: cover;
        
    }
    .searchProfile:hover{
        cursor: pointer;
    }
    .listing_info{
        margin-top: -10px;
        position: relative;
    }
    .listing_img{
        margin-top: -40px;
    }
    .like_post{
        margin-top: 40px;
    }

   .grid-item { width: 33%; padding: 0px 10px; }

   @media (max-width:768px) {
       .grid-item { width: 50%;}
   }
</style>

<!-- Listings -->
<section id="ElemoListing_with_map">
	<div class="ElemoListing_map">
    	<div id="map-container">
		    <div id="map" data-map-zoom="4" data-map-scroll="true">
		        <!-- map goes here -->
		    </div>
		</div>
    </div>
	<div class="search_wrap">
    	<div class="search_form">
            <form action="" method="get">

                <div class="form-group" style="width: 20%;">
                    <div class="select">
                        
                        <select class="form-control" id="country" name="country">
                            {% if countries %}
                                <option value="{{ countries[0].cou_id }}">{{ countries[0].cou_name }}</option> 
                            {% else %} 
                                <option value="0">Select Country</option>
                            {% endif %}  

                            {% for countries in country %} 
                               
                                    <option value="{{ countries.couId }}">{{ countries.couName }}</option>                                  
                            {% endfor %}

                        </select>
                    </div>
                </div>
                <div class="form-group" style="width: 20%;">
                    <div class="select">
                        
                        <select class="form-control" id="state" name="state">
                            
                            
                                {% if stateDatos[0].sta_id %}
                                    <option value="{{ stateDatos[0].sta_id }}">{{ stateDatos[0].sta_name }}</option> 
                                {% else %} 
                                    <option value="0">Select State</option>
                                {% endif %}                                                
                            

                            <option value="{{ stateDatos[0].sta_id }}">{{ stateDatos[0].sta_name }}</option>  
                            {% for states in state %} 

                                {% if states.staId != stateDatos[0].sta_id %}
                                    <option value="{{ states.staId }}">{{ states.staName }}</option>                                  
                                {% endif %}                       
                                                             
                       
                            {% endfor %}

	                    </select>
                    </div>
                </div>
                <div class="form-group" style="width: 20%;" name="city">
                    <div class="select">

                        <select class="form-control" id="cities" name="city">

                            {% if cities %}
                                {% for city in cities %}                                 
                                    <option value="{{ city.cit_id }}">{{ city.cit_name }}</option>                                
                                {% endfor %}
                            {% endif %}         

                        </select>
                    </div>
                </div>
                <div class="form-group" style="width: 20%;">
                    <div class="select">
                        <select class="form-control" id="speciality" name="speciality">                            
                            <option value="0">Select State</option>
                            {% for spe in speciality %}                         
                               
                                    <option value="{{ spe.spId }}">{{ spe.spName }}</option>                               
                       
                            {% endfor %}

                        </select>
                    </div>
                </div>

                <div class="btn_group" style="width: 20%;">
                    <input type="submit" value="Search" class="btn btn-block">
                </div>
            </form>
        </div>
    </div>
    
	<div class="container">
    	<div class="listing_header">
        	<h5>Medical Profiles</h5>
            
            <div class="layout-switcher">
                <a href="#" class="active"><i class="fa fa-th"></i></a>
                <a href="listing-listview-map.html"><i class="fa fa-align-justify"></i></a>
            </div>
        </div>
        
        <div class="row grid">
            {% if medic | length  %}
            {% for m in medic %}

                <div class="col-md-6x col-lg-4x grid_colx show_listingx grid-item">
                    <div class="items-list listing_wrap " data-marker-id="1">
                        <div class="listing_img" style="height: 300px;">
                            <a href="#" class="searchProfile" id="{{ m.ci_lat}}" name="{{ m.ci_lng }}"><span class="like_post"><i class="fa fa-map-marker"></i></span></a>
                            <!--
                            <div class="listing_cate">
                                <span class="cate_icon"><a href="#"><img src="{{ asset('bundles/web/template/Site/assets/images/category-icon5.png') }} " alt="icon-img"></a></span> 
                                <span class="listing_like"><a href="#"><i class="fa fa-heart-o"></i></a></span>
                            </div>
                            -->
                            {% if m.md_profile_image != "" %}
                                {% if file_exists( 'uploads/'~m.md_profile_image ) %}
                                    {% set imgPerfil =  "uploads/" ~ m.md_profile_image %}
                                    <a href="showProfile/{{ m.usr_id }}" target="_blank">
                                    <div class="text-center"><img src="{{ image(imgPerfil).cropResize(250,250)  }} " class="demo" style="max-width: 100%;" alt="image"></div>
                                    </a>
                                {% else %}
                                    <a href="showProfile/{{ m.usr_id }}" target="_blank">
                                        <div class="text-center"><img src="{{ image('bundles/web/template/Site/assets/images/pindingProfileImage.png').cropResize(250,250)  }} " class="demo" style="max-width: 100%;" alt="image"></div>
                                    </a>    
                                {% endif %}
                            {% else %}
                                <a href="showProfile/{{ m.usr_id }}" target="_blank">
                                    <div class="text-center"><img src="{{ image('bundles/web/template/Site/assets/images/pindingProfileImage.png').cropResize(250,250)  }} " class="demo" style="max-width: 100%;" alt="image"></div>
                                </a>
                            {% endif %}

                        </div>
                        <div class="listing_info">
                            <!--
                            <div class="post_category">
                                <a href="#">{{ m.cit_name }} /{{ m.sta_code }} </a>
                            </div>-->
                            <h4><a href="showProfile/{{ m.usr_id }}" target="_blank">Dr. {{ m.md_first_name }} {{ m.md_first_surname }}</a></h4>
                            
                            <p> {{ m.esp }} </p>
                             
                            <div class="listing_review_info">
                               
                                <p><span class="review_score"><i class="fa fa-eye"></i> {{ m.total }} </span> 
                                    <!--<i class="fa fa-star active"></i> <i class="fa fa-star active"></i> <i class="fa fa-star active"></i> 
                                   <i class="fa fa-star active"></i> <i class="fa fa-star"></i> 
                                   (5 Reviews)--> </p>
                                <p class="listing_map_m"><i class="fa fa-map-marker"></i> {{ m.cit_name }} /{{ m.sta_name }}</p>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
            {% else %}
                <div class="col-md-6 col-lg-4 grid_col show_listingx">
                    No Data Found.
                </div>
            {% endif %}
	        
        </div>
        <nav class="pagination_nav">
            <div class="navigation text-center">
                {{ knp_pagination_render(medic) }}
            </div>
         
        </nav>
    </div>    
</section>

<!-- /Listings -->
{% endblock %}

{% block codejs %}
    <script>
              

        $(function(){


            $('.grid').isotope({
                itemSelector: '.grid-item',
               /*
                masonry: {
                    columnWidth: 50
                }
                */
                
            });

            // States by Country
            $('#country').change(function(){

                var idSate = $(this).val();
                $("#state").empty();
                $("#cities").empty();
                $.ajax({
                    type: "post",
                    url: "{{ path('web_get_country') }}",
                    data: {id: idSate },
                    error: function (data) {
                            alert('Error : Load States');
                            },
                    success: function (data) {
                        //var $this = $("#cities");
                        //console.log(data);
                        $("#state").append("<option value='0'>Select State</option>");
                        $.each(data, function (key, value) {
                            $("#state").append("<option value=" + value.sta_id + ">" + value.sta_name + "</option>");
                        });

                    }
                });

            });

            // cities by state
            $('#state').change(function(){

                var idSate = $(this).val();
                $("#cities").empty();
                $.ajax({
                    type: "post",
                    url: "{{ path('web_get_cities') }}",
                    data: {id: idSate },
                    error: function (data) {
                            alert('Error : Load Cities');
                            },
                    success: function (data) {
                        //var $this = $("#cities");
                        //console.log(data);
                        $("#cities").append("<option value='0'>Select City</option>");
                        $.each(data, function (key, value) {
                            $("#cities").append("<option value=" + value.cit_id + ">" + value.cit_name + "</option>");
                        });

                    }
                });

            });
        });
        //$(document).on("ready", function(){
        $(function () {
               
/*-------------------------------------------------------------------------------
		Googl-Map
	-------------------------------------------------------------------------------*/

    function GooglMap() {

            var ib = new InfoBox();
            var test = {{ medic.items|json_encode|raw }};

            $(document).ready(function(){
                $(".searchProfile").click(function(){

                     listing_map_m($(this).attr('id'), $(this).attr('name') );
                });               
                
            });

            function listing_map_m(lat,lng){
                search(lat , lng);
            }

            function locationData(locationURL, locationImg, locationTitle, locationAddress, locationRating, locationRatingCounter) {
                    return ('' + '<div class="map-popup-close"><i class="fa fa-times"></i></div>' + '<hr><a href="' + locationURL + '" class="map-post-thumb-m" target="_blank">' + '<img src="' + locationImg + '" width="100%" height="" alt="">' + '</a>' + '<div class="map-post-des-m">'+ '<h5>' + '<a href="' + locationURL + '" target="_blank">' + locationTitle + '</a>' + '</h5>' + '<span><i class="fa fa-phone"></i> ' + locationAddress + '</span>' + '</div>' + '<div class="listing-content">' + '</div>')
            }
            var locations = [];

            
            $.each(test, function( k, v ) {                    
                locations.push([locationData('showProfile/'+v.usr_id, '{{ asset('uploads/') }}'+v.md_profile_image, v.md_first_name +' '+v.md_first_surname, v.ci_phone1, '5.0', '23'),v.ci_lat, v.ci_lng, 2, '<i class="im-icon"><img src="{{ asset('bundles/web/template/Site/assets/images/doctor.jpg') }} "></i>'])
            })


		      var mapZoomAttr = $('#map').attr('data-map-zoom');
            
            if (typeof mapZoomAttr !== typeof undefined && mapZoomAttr !== false) {
                var zoomLevel = parseInt(mapZoomAttr);                
            } else {
                var zoomLevel = 9;
            }
            
            if({{zoom}} == 1){
                    var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 6,
                    scrollwheel: true,
                    disableDefaultUI: true,                    
                    center: new google.maps.LatLng({{ stateDatos[0].sta_lat }}, {{ stateDatos[0].sta_lng }}),
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    zoomControl: false,
                    mapTypeControl: false,
                    scaleControl: false,
                    panControl: false,
                    navigationControl: false,
                    streetViewControl: false,
                });
            }else{
                    var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: zoomLevel,
                    scrollwheel: true,
                    disableDefaultUI: true,
                    center: new google.maps.LatLng(38.46581101942668, -97.67327016328125),
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    zoomControl: false,
                    mapTypeControl: false,
                    scaleControl: false,
                    panControl: false,
                    navigationControl: false,
                    streetViewControl: false,
                });
            }

            

            $('.items-list').on('mouseover', function() {
                var listingAttr = $(this).data('post-id');
                if (listingAttr !== undefined) {
                    var listing_id = $(this).data('post-id') - 1;
                    var marker_div = allMarkers[listing_id].div;
                    $(marker_div).addClass('clicked');
                    $(this).on('mouseout', function() {
                        if ($(marker_div).is(":not(.infoBox-opened)")) {
                            $(marker_div).removeClass('clicked');
                        }
                    });
                }
            });

            var boxText = document.createElement("div");
            boxText.className = 'map-box'
            var currentInfobox;
            var boxOptions = {
                content: boxText,
                disableAutoPan: false,
                alignBottom: true,
                maxWidth: 0,
                pixelOffset: new google.maps.Size(-134, -55),
                zIndex: null,
                boxStyle: {
                    width: "290px"
                },
                closeBoxMargin: "0",
                closeBoxURL: "",
                infoBoxClearance: new google.maps.Size(25, 25),
                isHidden: false,
                pane: "floatPane",
                enableEventPropagation: false,
            };
            var markerCluster, overlay, i;
            var allMarkers = [];
            var clusterStyles = [{
                textColor: 'white',
                url: '',
                height: 50,
                width: 50
            }];
            
            var markerIco;
            for (i = 0; i < locations.length; i++) {
                markerIco = locations[i][4];
                //alert(locations[i][0]);
                var overlaypositions = new google.maps.LatLng(locations[i][1], locations[i][2]),
                    overlay = new CustomMarker(overlaypositions, map, {
                        marker_id: i
                    }, markerIco);
                allMarkers.push(overlay);
                //console.log(allMarkers);
                google.maps.event.addDomListener(overlay, 'click', (function(overlay, i) {
                    return function() {
                        ib.setOptions(boxOptions);
                        boxText.innerHTML = locations[i][0];
                        ib.open(map, overlay);
                        currentInfobox = locations[i][3];
                        google.maps.event.addListener(ib, 'domready', function() {
                            $('.map-popup-close').click(function(e) {
                                e.preventDefault();
                                ib.close();
                                $('.map-marker-container').removeClass('clicked infoBox-opened');
                            });
                        });
                    }
                })(overlay, i));
            }

            var options = {
                imagePath: 'images/',
                styles: clusterStyles,
                minClusterSize: 2
            };

            // Agrupar marker cercanos
            markerCluster = new MarkerClusterer(map, allMarkers, options);
            google.maps.event.addDomListener(window, "resize", function() {
                var center = map.getCenter();
                google.maps.event.trigger(map, "resize");
                map.setCenter(center);
            });

            var zoomControlDiv = document.createElement('div');
            var zoomControl = new ZoomControl(zoomControlDiv, map);

            function ZoomControl(controlDiv, map) {
                zoomControlDiv.index = 1;
                map.controls[google.maps.ControlPosition.RIGHT_TOP].push(zoomControlDiv);
                controlDiv.className = "leaflet-control-zoom";
                var controlWrapper = document.createElement('div');
                controlDiv.appendChild(controlWrapper);
                var zoomInButton = document.createElement('div');
                zoomInButton.className = "custom-zoom-in";
                controlWrapper.appendChild(zoomInButton);
                var zoomOutButton = document.createElement('div');
                zoomOutButton.className = "custom-zoom-out";
                controlWrapper.appendChild(zoomOutButton);
                google.maps.event.addDomListener(zoomInButton, 'click', function() {
                    map.setZoom(map.getZoom() + 1);
                });
                google.maps.event.addDomListener(zoomOutButton, 'click', function() {
                    map.setZoom(map.getZoom() - 1);
                });
            }

            $("#geoLocation, .input-with-icon.location a").click(function(e) {
                e.preventDefault();
                geolocate();
            });

            function geolocate() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function(position) {
                        var pos = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                        map.setCenter(pos);
                        map.setZoom(12);
                    });
                }
            }
            if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                map.setOptions({
                    draggable: false
                });
            }
    }
	
	
	
            var map = document.getElementById('map');
            if (typeof(map) != 'undefined' && map != null) {
                google.maps.event.addDomListener(window, 'load', GooglMap);
                google.maps.event.addDomListener(window, 'resize', GooglMap);
            }

            function singlemap() {

                var myLatlng = new google.maps.LatLng({
                    lng: $('#singlemap').data('longitude'),
                    lat: $('#singlemap').data('latitude'),
                });

                var single_map = new google.maps.Map(document.getElementById('singlemap'), {
                    zoom: 15,
                    center: myLatlng,
                    scrollwheel: false,
                    zoomControl: false,
                    mapTypeControl: false,
                    scaleControl: false,
        			fullscreenControl: false,
                    panControl: false,
                    navigationControl: false,
                    streetViewControl: false,
                });

                var zoomControlDiv = document.createElement('div');
                var zoomControl = new ZoomControl(zoomControlDiv, single_map);

                function ZoomControl(controlDiv, single_map) {
                    zoomControlDiv.index = 1;
                    single_map.controls[google.maps.ControlPosition.RIGHT_TOP].push(zoomControlDiv);
                    var controlWrapper = document.createElement('div');
                    controlDiv.appendChild(controlWrapper);
                    var zoomInButton = document.createElement('div');
                    zoomInButton.className = "custom-zoom-in";
                    controlWrapper.appendChild(zoomInButton);
                    var zoomOutButton = document.createElement('div');
                    zoomOutButton.className = "custom-zoom-out";
                    controlWrapper.appendChild(zoomOutButton);
                    google.maps.event.addDomListener(zoomInButton, 'click', function() {
                        single_map.setZoom(single_map.getZoom() + 1);
                    });
                    google.maps.event.addDomListener(zoomOutButton, 'click', function() {
                        single_map.setZoom(single_map.getZoom() - 1);
                    });
                }
                var singleMapIco = "<i class='im-icon'><img src='" + $('#singlemap').data('map-icon') + "'></i>";
                new CustomMarker(myLatlng, single_map, {
                    marker_id: '1'
                }, singleMapIco);
            }

            var single_map = document.getElementById('singlemap');
            if (typeof(single_map) != 'undefined' && single_map != null) {
                google.maps.event.addDomListener(window, 'load', singlemap);
                google.maps.event.addDomListener(window, 'resize', singlemap);
            }

            function CustomMarker(latlng, map, args, markerIco) {
                this.latlng = latlng;
                this.args = args;
                this.markerIco = markerIco;
                this.setMap(map);
            }

            CustomMarker.prototype = new google.maps.OverlayView();
            CustomMarker.prototype.draw = function() {
                var self = this;
                var div = this.div;
                if (!div) {
                    div = this.div = document.createElement('div');
                    div.className = 'map-marker-container';
                    div.innerHTML = '<div class="marker-container">' + '<div class="marker-card">' + '<div class="front face">' + self.markerIco + '</div>' + self.markerIco + '</div>'  + '</div>' + '</div>'
                    google.maps.event.addDomListener(div, "click", function(event) {
                        $('.map-marker-container').removeClass('clicked infoBox-opened');
                        google.maps.event.trigger(self, "click");
                        $(this).addClass('clicked infoBox-opened');
                    });
                    if (typeof(self.args.marker_id) !== 'undefined') {
                        div.dataset.marker_id = self.args.marker_id;
                    }
                    var panes = this.getPanes();
                    panes.overlayImage.appendChild(div);
                }
                var point = this.getProjection().fromLatLngToDivPixel(this.latlng);
                if (point) {
                    div.style.left = (point.x) + 'px';
                    div.style.top = (point.y) + 'px';
                }
            };

            CustomMarker.prototype.remove = function() {
                if (this.div) {
                    this.div.parentNode.removeChild(this.div);
                    this.div = null;
                    $(this).removeClass('clicked');
                }
            };
            CustomMarker.prototype.getPosition = function() {
                return this.latlng;
            }; 


            // Buscar en el mapa individual
            function search(lat , lng){

                var ib = new InfoBox();
                var test = {{ medic.items|json_encode|raw }};

                function locationData(locationURL, locationImg, locationTitle, locationAddress, locationRating, locationRatingCounter) {
                    return ('' + '<div class="map-popup-close"><i class="fa fa-times"></i></div>' + '<hr><a href="' + locationURL + '" class="map-post-thumb-m" target="_blank">' + '<img src="' + locationImg + '" width="100%" height="" alt="">' + '</a>' + '<div class="map-post-des-m">'+ '<h5>' + '<a href="' + locationURL + '" target="_blank">' + locationTitle + '</a>' + '</h5>' + '<span><i class="fa fa-phone"></i> ' + locationAddress + '</span>' + '</div>' + '<div class="listing-content">' + '</div>')
                }
                var locations = [];

                $.each(test, function( k, v ) {                    

                    locations.push([locationData('showProfile/'+v.usr_id, '{{ asset('uploads/') }}'+v.md_profile_image, v.md_first_name +' '+v.md_first_surname, v.ci_phone1, '5.0', '23'),v.ci_lat, v.ci_lng, 2, '<i class="im-icon"><img src="{{ asset('bundles/web/template/Site/assets/images/doctor.jpg') }} "></i>'])
                    
                })               
            
        
                var mapZoomAttr = $('#map').attr('data-map-zoom');
                if (typeof mapZoomAttr !== typeof undefined && mapZoomAttr !== false) {
                    var zoomLevel = 12;
                } else {
                    var zoomLevel = 12;
                }

                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: zoomLevel,
                    scrollwheel: true,
                    disableDefaultUI: true,
                    center: new google.maps.LatLng(lat, lng),
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    zoomControl: false,
                    mapTypeControl: false,
                    scaleControl: false,
                    panControl: false,
                    navigationControl: false,
                    streetViewControl: false,
                });

                $('.items-list').on('mouseover', function() {
                    var listingAttr = $(this).data('post-id');
                    if (listingAttr !== undefined) {
                        var listing_id = $(this).data('post-id') - 1;
                        var marker_div = allMarkers[listing_id].div;
                        $(marker_div).addClass('clicked');
                        $(this).on('mouseout', function() {
                            if ($(marker_div).is(":not(.infoBox-opened)")) {
                                $(marker_div).removeClass('clicked');
                            }
                        });
                    }
                });

                var boxText = document.createElement("div");
                boxText.className = 'map-box'
                var currentInfobox;
                var boxOptions = {
                    content: boxText,
                    disableAutoPan: false,
                    alignBottom: true,
                    maxWidth: 0,
                    pixelOffset: new google.maps.Size(-134, -55),
                    zIndex: null,
                    boxStyle: {
                        width: "290px"
                    },
                    closeBoxMargin: "0",
                    closeBoxURL: "",
                    infoBoxClearance: new google.maps.Size(25, 25),
                    isHidden: false,
                    pane: "floatPane",
                    enableEventPropagation: false,
                };
                var markerCluster, overlay, i;
                var allMarkers = [];
                var clusterStyles = [{
                    textColor: 'white',
                    url: '',
                    height: 50,
                    width: 50
                }];
                
                var markerIco;
                for (i = 0; i < locations.length; i++) {
                    markerIco = locations[i][4];
                    console.log(locations[i][4]);

                    var focusIcon = '<i class="im-icon"><img src="{{ asset('bundles/web/template/Site/assets/images/doctor1.png') }} "></i>';
                    
                    if( locations[i][1] == lat && locations[i][2]== lng){
                        var overlaypositions = new google.maps.LatLng(locations[i][1], locations[i][2]),
                        overlay = new CustomMarker(overlaypositions, map, {
                            marker_id: i
                        }, focusIcon);
                            allMarkers.push(overlay);

                        
                            ib.setOptions(boxOptions);
                            boxText.innerHTML = locations[i][0];
                            ib.open(map, overlay);
                            currentInfobox = locations[i][3];
                            google.maps.event.addListener(ib, 'domready', function() {
                                $('.map-popup-close').click(function(e) {
                                    e.preventDefault();
                                    ib.close();
                                    $('.map-marker-container').removeClass('clicked infoBox-opened');
                                });
                            });                        
                        
                    }
                    else
                    {
                        var overlaypositions = new google.maps.LatLng(locations[i][1], locations[i][2]),
                        overlay = new CustomMarker(overlaypositions, map, {
                            marker_id: i
                        }, markerIco);
                        allMarkers.push(overlay);
                    }                    
                    
                    
                    google.maps.event.addDomListener(overlay, 'click', (function(overlay, i) {
                        return function() {
                            ib.setOptions(boxOptions);
                            boxText.innerHTML = locations[i][0];
                            ib.open(map, overlay);
                            currentInfobox = locations[i][3];
                            google.maps.event.addListener(ib, 'domready', function() {
                                $('.map-popup-close').click(function(e) {
                                    e.preventDefault();
                                    ib.close();
                                    $('.map-marker-container').removeClass('clicked infoBox-opened');
                                });
                            });
                        }
                    })(overlay, i));
                }

                var options = {
                imagePath: 'images/',
                styles: clusterStyles,
                minClusterSize: 2
            };

            // Agrupar marker cercanos
            markerCluster = new MarkerClusterer(map, allMarkers, options);
            google.maps.event.addDomListener(window, "resize", function() {
                var center = map.getCenter();
                google.maps.event.trigger(map, "resize");
                map.setCenter(center);
            });

            var zoomControlDiv = document.createElement('div');
            var zoomControl = new ZoomControl(zoomControlDiv, map);

            function ZoomControl(controlDiv, map) {
                zoomControlDiv.index = 1;
                map.controls[google.maps.ControlPosition.RIGHT_TOP].push(zoomControlDiv);
                controlDiv.className = "leaflet-control-zoom";
                var controlWrapper = document.createElement('div');
                controlDiv.appendChild(controlWrapper);
                var zoomInButton = document.createElement('div');
                zoomInButton.className = "custom-zoom-in";
                controlWrapper.appendChild(zoomInButton);
                var zoomOutButton = document.createElement('div');
                zoomOutButton.className = "custom-zoom-out";
                controlWrapper.appendChild(zoomOutButton);
                google.maps.event.addDomListener(zoomInButton, 'click', function() {
                    map.setZoom(map.getZoom() + 1);
                });
                google.maps.event.addDomListener(zoomOutButton, 'click', function() {
                    map.setZoom(map.getZoom() - 1);
                });
            }

            $("#geoLocation, .input-with-icon.location a").click(function(e) {
                e.preventDefault();
                geolocate();
            });

            function geolocate() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function(position) {
                        var pos = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                        map.setCenter(pos);
                        map.setZoom(12);
                    });
                }
            }
            if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                map.setOptions({
                    draggable: false
                });
            }
            }
        });   
    </script>
{% endblock %}        

