{% extends 'web/base.html.twig' %}

{% block title_page %}
    Home || Doctors Billboard
{% endblock %}

{% block classbg %}
    listing-with-map-page
{% endblock %}

{% block content %}

    <style type="text/css">
        .#footer {
            padding-right: 40%;
         }
         #intro_map{

            padding-top: 0px;

         }
    </style>

{#
<!-- Map -->
<section id="intro_map" class="section-padding">
	<div id="map-container" class="fullwidth-home-map">
    	<div id="map" data-map-zoom="9">
        	 <!-- map-here -->
        </div>
    	<div class="container">
    	<div class="search_form">
            	<form action="listing-grid-map.html" method="get">
                	<div class="form-group select">
                   		<select class="form-control">
                	    	<option>What are you looking for?</option>
            	            <option>Real Estate</option>
                            <option>Restaurant</option>
                            <option>Real Estate</option>
        	                <option>Health & Fitness</option>
    	                    <option>Beauty & Spas</option>
                            <option>Hotels & Travel</option>
                            <option>Automotive</option>
	                    </select>
                    </div>
                    <div class="form-group">
                   		<input type="text" class="form-control" placeholder="Locaton">
                    </div>
                    <div class="form-group search_btn">
                    	<input type="submit" value="Search" class="btn btn-block">
                    </div>
                </form>
            </div>
        </div>
	</div>
</section>
<!-- /Map -->
#}
<!-- Map -->
<section id="intro_map" class="section-padding intro_map_style2">
	<div id="map-container" class="fullwidth-home-map">
    	<div id="map" data-map-zoom="9">
        	 <!-- map-here -->
        </div>
        <div class="intro_search">
        	<div class="intro_search_content">
            	<h2>Find Here</h2>
            	<div class="search_form">
                    <form action="listing-grid-map.html" method="get">

                        <div class="form-group select">
                            <select class="form-control" id="category" name="category">
                                <option>Doctors</option>
                                <option>Hospital</option>
                                <option>Clinic</option>
                                <option>Pharmacy</option>
                                <option>Social Welfare</option>
                            </select>
                        </div>

                        <div class="form-group select">
                            <select class="form-control" id="country" name="country">
                                                {#
                                                    {% if countries %}
                                                        <option value="{{ countries[0].cou_id }}">{{ countries[0].cou_name }}</option>
                                                    {% else %}
                                                        <option value="0">Select Country</option>
                                                    {% endif %}
                                                 #}
                                                <option value="0">Select Country</option>
                                                {% for countries in country %}
                                                    {% if app.request.query.get("country") == countries.couId %}
                                                        <option value="{{ countries.couId }}" selected="selected">{{ countries.couName }}</option>
                                                    {% else %}
                                                        <option value="{{ countries.couId }}">{{ countries.couName }}</option>
                                                    {% endif %}
                                                {% endfor %}

                                            </select>
                        </div>
                        <div class="form-group select">
                            <select class="form-control" id="state" name="state">
                                                {#
                                            {% if estados_d %}
                                                <option value="{{ estados_d[0].sta_id }}">{{ estados_d[0].sta_name }}</option>
                                            {% else %}
                                                <option value="0">Select State</option>
                                            {% endif %}
                                            #}
                                                <option value=""></option>
                                                {% for states in state %}

                                                    {# {% if states.staId != estados_d[0].sta_id %} #}
                                                    {% if app.request.query.get("state") == states.staId %}
                                                        <option value="{{ states.staId }}" selected="selected">{{ states.staName }}</option>
                                                    {% else %}
                                                        <option value="{{ states.staId }}">{{ states.staName }}</option>
                                                    {% endif %}

                                                {% endfor %}

                                            </select>
                        </div>

                        <div class="form-group select">
                            <select class="form-control" id="cities" name="city">
                                                <option value=""></option>
                                                {% if cities %}
                                                    {% for city in cities %}
                                                        {% if app.request.query.get("city") == city.cit_id %}
                                                            <option value="{{ city.cit_id }}" selected="selected">{{ city.cit_name }}</option>
                                                        {% else %}
                                                            <option value="{{ city.cit_id }}">{{ city.cit_name }}</option>
                                                        {% endif %}

                                                    {% endfor %}
                                                {% endif %}

                                            </select>
                        </div>

                        <div class="form-group select">
                            <div class="select">
                                            Speciality:
                                            <select class="form-control" id="speciality" name="speciality">
                                                <option value=""></option>
                                                {% for spe in speciality %}
                                                    {% if app.request.query.get("speciality") == spe.spId %}
                                                        <option value="{{ spe.spId }}" selected="selected">{{ spe.spName }}</option>
                                                    {% else %}
                                                        <option value="{{ spe.spId }}">{{ spe.spName }}</option>
                                                    {% endif %}

                                                {% endfor %}

                                            </select>
                        </div>
                        <br>

                        <div class="form-group search_btn">
                            <input type="submit" value="Search" class="btn btn-block">
                        </div>
                    </form>
                </div>
            </div>

        </div>


	</div>
</section>

<!-- Category-Slider-Style-2 -->
<section id="listing_category" class="section-padding">
	<div class="container">
    	<div class="section-header text-center">
        	<h2>What We Do </h2>
            <p>You will be part of the doctors directory most big of the world completing the nexts steps.</p>
             <p>Registration Available for <b>USA, CANADA AND AUSTRALIA</b></p>
        </div>
    	<div id="category_slider2">
        	<div class="owl-carousel owl-theme">
            	<div class="item" style="background-image:url(assets/images/400x530.jpg);">
                	<a href="#">
    	            	<div class="category_icon">
                        	<span class="category_listing_n">20</span>
                            <img src="{{ asset('bundles/web/template/Site/assets/images/doctors_1.png') }}" alt="image">
                        </div>
	                    <p>Doctors</p>
                    </a>
                </div>

                <div class="item" style="background-image:url(assets/images/400x530.jpg);">
                	<a href="#">
    	            	<div class="category_icon">
                        	<span class="category_listing_n">32</span>
                            <img src="{{ asset('bundles/web/template/Site/assets/images/hospital_1.png') }}" alt="image">
                        </div>
	                    <p>Hospital</p>
                    </a>
                </div>

                <div class="item" style="background-image:url(assets/images/400x530.jpg);">
                	<a href="#">
    	            	<div class="category_icon">
                        	<span class="category_listing_n">18</span>
                            <img src="{{ asset('bundles/web/template/Site/assets/images/clinic_1.png') }}" alt="image">
                        </div>
	                    <p>Clinic</p>
                    </a>
                </div>

                <div class="item" style="background-image:url(assets/images/400x530.jpg);">
                	<a href="#">
    	            	<div class="category_icon">
                        	<span class="category_listing_n">15</span>
                            <img src="{{ asset('bundles/web/template/Site/assets/images/pharmacy_1.png') }}" alt="image">
                        </div>
                        <p>Pharmacy</p>
                    </a>
                </div>

                <div class="item" style="background-image:url(assets/images/400x530.jpg);">
                	<a href="#">
    	            	<div class="category_icon">
                        	<span class="category_listing_n">15</span>
                            <img src="{{ asset('bundles/web/template/Site/assets/images/social_1.png') }}" alt="image">
                        </div>
                        <p>social Welfare </p>
                    </a>
                </div>
  
            </div>
        </div>
    </div>
</section>
<!-- /Category-Slider-Style-2 -->


<!-- How-it-Work -->
<section id="how_it_work" class="section-padding parallex-bg">
	<div class="container" >
    	<div class="section-header text-center white-text div_zindex">
        	<h2 style="color:white;">3 Simple Steps </h2>
            <p style="color:white;">You must be part of DoctorsBillboard to have a better presence in the world .</p>
        </div>

        <div class="row">
        	<div class="col-md-4">
            	<div class="steps_wrap">
                	<div class="icon_div">
                    	<i class="fa fa-map-marker"></i>
                    </div>
                	<h5>Register</h5>
                     <p>You Need complete the register fields.</p><br>
                </div>
            </div>

            <div class="col-md-4">
            	<div class="steps_wrap">
                	<div class="icon_div">
                    	<i class="fa fa-location-arrow"></i>
                    </div>
                	<h5>Information</h5>
                     <p>Fill up all the information about your medical specialty.</p><br>
                </div>
            </div>

            <div class="col-md-4">
            	<div class="steps_wrap">
                	<div class="icon_div">
                    	<i class="fa fa-smile-o"></i>
                    </div>
                	<h5>Public</h5>
                     <p>Your Doctor Profile Will have one position on the most big map for smart medics.</p>
                </div>
            </div>
        </div>
    </div>
	<div class="dark-overlay"></div>
</section>
<!-- /How-it-Work -->

<!-- Featured-Listings -->
<section id="featured_listings" class="section-padding">
	<div class="container">
    	<div class="section-header text-center">
        	<h2>Featured Listings</h2>
            <p>You can have the following services inside of the big platform.</p>
        </div>

        <div id="popular_listing_slider">
        	<div class="owl-carousel owl-theme">
                <div class="listing_wrap">
                    <div class="listing_img">
                        <a href="#"><img src="{{ asset('bundles/web/template/Site/assets/images/maps.png') }}" width="50px" alt="image"></a>
                    </div>
                    <div class="listing_info">
                        <div class="post_category">
                            <a href="#">Global Profile</a>
                        </div>
                        <h4><a href="#">Your profile is available for all regions</a></h4>

                        <div class="listing_review_info">
                            <p>All Countries and Cities</p>
                        </div>
                    </div>
                </div>

                <div class="listing_wrap">
                    <div class="listing_img">
                        <a href="#"><img src="{{ asset('bundles/web/template/Site/assets/images/gallery.png') }}" alt="image"></a>
                    </div>
                    <div class="listing_info">
                        <div class="post_category">
                            <a href="#">Gallery</a>
                        </div>
                        <h4><a href="#">Create photo gallery about your profession</a></h4>

                        <div class="listing_review_info">
                            <p>Show your locale</p>
                        </div>
                    </div>
                </div>

                <div class="listing_wrap">
                    <div class="listing_img">
           
                        <a href="#"><img src="{{ asset('bundles/web/template/Site/assets/images/schedule.png') }}" alt="image"></a>
                    </div>
                    <div class="listing_info">
                        <div class="post_category">
                            <a href="#">Schedule </a>
                        </div>
                        <h4><a href="#">Schedule available for your services</a></h4>


                        <div class="listing_review_info">
                            <p>Show your consulting schedule</p>
                        </div>
                    </div>
                </div>

                <div class="listing_wrap">
                    <div class="listing_img">
                        <a href="#"><img src="{{ asset('bundles/web/template/Site/assets/images/contact.png') }}" alt="image"></a>
                    </div>
                    <div class="listing_info">
                        <div class="post_category">
                            <a href="#">Contact Information</a>
                        </div>
                        <h4><a href="#">Phones and Socials Networks available for contact you</a></h4>


                        <div class="listing_review_info">
                            <p>Many point contacts you can set into application</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- /Featured-Listings -->

<!-- Pricing-Table -->
<section id="pricing_table" class="section-padding parallex-bg">
	<div class="container">
    	<div class="section-header white-text div_zindex text-center">
        	<h2>Best Price Guranteed</h2>
            <p>Select the one you prefer.</p>
        </div>

        <div class="row">
        	<div class="col-md-4">
            	<div class="pricing_wrap">
                	<div class="pricing_header">
                    	<h2>Basic</h2>
                        <p>1 Month</p>
                    </div>
                    <div class="plan_info">
                    	<div class="plan_price">$25.00</div>
                        
                    <table class="table">
                        <tr class="active">
                            <td class="blue">
                                Only for 1 Month
                            </td>
                        </tr>
                        <tr>
                            <td class="white">
                                Visitor Counter
                            </td>
                        </tr>
                        <tr class="active">
                            <td class="blue">
                                Profile Information
                            </td>
                        </tr>
                        <tr class="">
                            <td class="white">
                                Contact Information
                            </td>
                        </tr>
                        <tr class="active">
                            <td class="blue">
                                Academy Information
                            </td>
                        </tr>
                        <tr>
                            <td class="white">
                                Ubication Map 
                            </td>
                        </tr>
                        <tr class="active">
                            <td class="blue">
                                Schedule Work
                            </td>
                        </tr>
                        <tr>
                            <td class="white">
                                1 Socials Networks
                            </td>
                        </tr>
                        <tr class="active">
                            <td class="blue">
                                Speciality Medics
                            </td>
                        </tr>
                        <tr class="">
                            <td class="white">
                                Gallery (2 photos)
                            </td>
                        </tr>                       
                        
                        <tr class="active">
                            <td class="blue">
                                Easy Contact Doctor
                            </td>
                        </tr>
                    </table>
                        <a href="register" class="btn">Get Started</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
            	<div class="pricing_wrap active">
                	<div class="pricing_header">
                    	<p class="popular_plan">Most Popular</p>
                    	<h2>Professional</h2>
                        <p>6 Months</p>
                    </div>
                    <div class="plan_info">
                    	<div class="plan_price">$100.00</div>
                        <small>1 Month FREE</small>
                        <table class="table">
                        <tr class="active">
                            <td class="white">
                                6 Months
                            </td>
                        </tr>
                        <tr>
                            <td class="white">
                                Visitor Counter
                            </td>
                        </tr>
                        <tr class="active">
                            <td class="blue">
                                Profile Information
                            </td>
                        </tr>
                        <tr class="">
                            <td class="white">
                                Contact Information
                            </td>
                        </tr>
                        <tr class="active">
                            <td class="blue">
                                Academy Information
                            </td>
                        </tr>
                        <tr>
                            <td class="white">
                                Map Ubication
                            </td>
                        </tr>
                        <tr class="active">
                            <td class="blue">
                                Schedule Work
                            </td>
                        </tr>
                        <tr>
                            <td class="white">
                                4 Socials Networks
                            </td>
                        </tr>
                        <tr class="active">
                            <td class="blue">
                                Speciality Medics
                            </td>
                        </tr>
                        <tr class="">
                            <td class="white">
                                Gallery (5 photos)
                            </td>
                        </tr>                       
                        
                        <tr class="active">
                            <td class="blue">
                                Easy Contact Doctor
                            </td>
                        </tr>
                    </table>
                        <a href="register" class="btn">Get Started</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
            	<div class="pricing_wrap">
                	<div class="pricing_header">
                    	<h2>Business</h2>
                        <p>12 Months</p>
                    </div>
                    <div class="plan_info">
                    	<div class="plan_price">$150.00</div>
                        <small>1 Month FREE</small>
                        <table class="table">
                        <tr class="active">
                            <td class="white">
                                1 Year
                            </td>
                        </tr>                        
                        <tr>
                            <td class="white">
                                Visitor Counter
                            </td>
                        </tr>
                        <tr class="active">
                            <td class="blue">
                                Profile Information
                            </td>
                        </tr>
                        <tr class="">
                            <td class="white">
                                Contact Information
                            </td>
                        </tr>
                        <tr class="active">
                            <td class="blue">
                                Academy Information
                            </td>
                        </tr>
                        <tr>
                            <td class="white">
                                Map Ubication
                            </td>
                        </tr>
                        <tr class="active">
                            <td class="blue">
                                Schedule Work
                            </td>
                        </tr>
                        <tr>
                            <td class="white">
                                Unlimited Socials Networks
                            </td>
                        </tr>
                        <tr class="active">
                            <td class="blue">
                                Speciality Medics
                            </td>
                        </tr>
                        <tr class="">
                            <td class="white">
                                Gallery (8 photos)
                            </td>
                        </tr>                       
                        
                        <tr class="active">
                            <td class="blue">
                                Easy Contact Doctor
                            </td>
                        </tr>
                    </table>
                        <a href="register" class="btn">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<div class="dark-overlay"></div>
</section>
<!-- /Pricing-Table -->

<!-- Latest-Blog -->
<section id="latest_blog" class="section-padding">
	<div class="container">
    	<div class="section-header text-center">
        	<h2>Our Services are available only for this countries</h2>
            <p>We have support custom for our customer.</p>
        </div>

        <div class="row">
        	<div class="col-md-4">
            	<div class="post_wrap">
                	<div class="post_img">
                    	<a href="#"><img src="{{ asset('bundles/web/template/Site/assets/images/usa.png') }}" alt="image"></a>
                    </div>
                    <div class="post_info">

                    	<h4><a href="#">United State of America.</a></h4>
                        <p>Many states with cities available for the world.</p>
                        <div class="post_meta">
                        	<p>51 : <a href="#"> States</a></p>
                            <p>29,639 : <a href="#"> Cities</a></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
            	<div class="post_wrap">
                	<div class="post_img">
                    	<a href="#"><img src="{{ asset('bundles/web/template/Site/assets/images/canada.png') }}" alt="image"></a>
                    </div>
                    <div class="post_info">
      
                    	<h4><a href="#">Canada.</a></h4>
                        <p>Many states with cities available for the world.</p>
                        <div class="post_meta">
                        	<p>13 : <a href="#"> States</a></p>
                            <p>1,709 : <a href="#"> Cities</a></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
            	<div class="post_wrap">
                	<div class="post_img">
                    	<a href="#"><img src="{{ asset('bundles/web/template/Site/assets/images/ausrtralia.png') }}" alt="image"></a>
                    </div>
                    <div class="post_info">
 
                    	<h4><a href="#">Australia.</a></h4>
                        <p>Many states with cities available for the world.</p>
                        <div class="post_meta">
                        	<p>7 : <a href="#">States</a></p>
                            <p>14,710 : <a href="#"> Cities</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</section>
<!-- /Latest-Blog -->

<section id="featured_listings" class="section-padding parallex-bg">
    <div class="container">
    <div class="form">
      <!--FORM -->
      <form action="contactus" class="form-horizontal" role="form" id="contactForm" method="post" name="contactForm">
            
            <div class="form-group">
               
                <div class="col-sm-12">
                <input type="text" class="form-control input-lg" name="name" id="name" placeholder="Name*">
                </div>
            </div>
            
            <div class="form-group">
                  
                    <div class="col-sm-12">
                      <input type="email" class="form-control input-lg" name="email" id="email" placeholder="Email*">
                  </div>
            </div>
            
            <div class="form-group">
                  
                    <div class="col-sm-12">
                      <input type="text" class="form-control input-lg" name="phone" id="phone" placeholder="Phone">
                  </div>
            </div>
            
            <div class="form-group">
                  
                    <div class="col-sm-12">
                      <textarea class="form-control input-lg" rows="10" name="message" id="message" placeholder="Message*"></textarea>
                  </div>
            </div>
            
            <div class="control-group submit center">
               <input class="btn btn-lg btn-primary" type="submit" value="Submit">
            </div>

           </form>
           
           <p class="d-grey requi">* Required</p>
      
      </div>
  </div>
</section>

{% endblock %}

{% block codejs %}


    <script>

    $(function () {
            $('[data-toggle="tooltip"]').tooltip();

            $('.grid').isotope({itemSelector: '.grid-item'});



            $("#formSearch").submit(function () {
                var country = $('#country').val();
                //alert(country);
                if (country > 0) {

                } else {
                    $.alert({icon: 'fa fa-warning', title: 'Error!', type: "red", content: 'Please use the filters'});
                    return false;
                }
                //alert();
            });

            // States by Country
            $('#country').change(function () {
                var idSate = $(this).val();
                getStates(idSate);

            });

            {% if app.request.query.get("country") == "" %}
                var idSate = $('#country').val();
                getStates(idSate);
            {% endif %}

            function getStates(idSate) {
                if (idSate > 0) {
                    $("#state").empty();
                    $("#cities").empty().append("<option value=''>All</option>");
                    $("#holder_loading").show();
                    $.ajax({
                        type: "post",
                        url: "{{ path('web_get_country') }}",
                        data: {
                            id: idSate
                        },
                        error: function (data) {
                            alert('Error : Load States');
                        },
                        success: function (data) {
                            $("#state").append("<option value=''>All</option>");
                            $.each(data, function (key, value) {
                                $("#state").append("<option value=" + value.sta_id + ">" + value.sta_name + "</option>");
                            });
                            $("#holder_loading").hide();
                        }
                    });
                }
            }

            $('#country').select2({dropdownCssClass: "myFont", placeholder: "Select a country", width: '100%'});

            // cities by state
            $('#state').change(function () {
                var idSate = $(this).val();
                getCities(idSate);
            });

            function getCities(idSate) {
                if (idSate > 0) {
                    $("#cities").empty();
                    $("#holder_loading").show();
                    $.ajax({
                        type: "post",
                        url: "{{ path('web_get_cities') }}",
                        data: {
                            id: idSate
                        },
                        error: function (data) {
                            alert('Error : Load Cities');
                        },
                        success: function (data) {
                            //var $this = $("#cities");
                            //console.log(data);
                            $("#cities").append("<option value=''></option>");
                            $.each(data, function (key, value) {
                                $("#cities").append("<option value=" + value.cit_id + ">" + value.cit_name + "</option>");
                            });
                            $("#cities").select2({dropdownCssClass: "myFont", placeholder: "Select a city", width: '100%'});
                            $("#holder_loading").hide();
                        }
                    });
                }
            }

            $('#state').select2({dropdownCssClass: "myFont", placeholder: "Select a state", width: '100%'});
            $("#cities").select2({dropdownCssClass: "myFont", placeholder: "Select a city", width: '100%'});
            $("#speciality").select2({dropdownCssClass: "myFont", placeholder: "Select speciality", width: '100%'});

            //var vh = $("#holderInputsSearch").height();
            //$("#btnSend").css({"height":(vh-3)+"px"});
            //alert(vh);
        });

    $(function () {

            /*-------------------------------------------------------------------------------
        Googl-Map
    -------------------------------------------------------------------------------*/

            function GooglMap() {

                var ib = new InfoBox();
                var test = {{ medic.items|json_encode|raw }};
                console.log(test);

                $(document).ready(function () {
                    $(".searchProfile").click(function () {

                        listing_map_m($(this).attr('id'), $(this).attr('name'));
                    });

                });

                function listing_map_m(lat, lng) {
                    search(lat, lng);
                }

                function locationData(locationURL, locationImg, locationTitle, locationAddress, locationRating, locationRatingCounter) {
                    return ('' + '<div class="map-popup-close"><i class="fa fa-times"></i></div>' + '<hr><a href="' + locationURL + '" class="map-post-thumb-m" target="_blank">' + '<img src="' + locationImg + '" width="100%" height="" alt="">' + '</a>' + '<div class="map-post-des-m">' + '<h5>' + '<a href="' + locationURL + '" target="_blank">' + locationTitle + '</a>' + '</h5>' + '<span><i class="fa fa-phone"></i> ' + locationAddress + '</span>' + '</div>' + '<div class="listing-content">' + '</div>')
                }
                var locations = [];

                $.each(test, function (k, v) {
                    console.log(v.usr_id);
                    locations.push([
                        locationData('showProfile/' + v.usr_id, '{{ asset(' uploads / ') }}' + v.md_profile_image, v.md_first_name + ' ' + v.md_first_surname, v.ci_phone1, '5.0', '23'),
                        v.ci_lat,v.ci_lng,2,'<i class="im-icon"><img src="{{ asset('bundles/web/template/Site/assets/images/doctor.jpg') }} "></i>'
                    ])
                })

                var mapZoomAttr = $('#map').attr('data-map-zoom');

                if (typeof mapZoomAttr !== typeof undefined && mapZoomAttr !== false) {
                    var zoomLevel = parseInt(mapZoomAttr);
                } else {
                    var zoomLevel = 9;
                }

                {# //if  ({{ zoom  }} == 1)  #}
                if (1) {
                   // console.log(3);
                    var map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 6,
                        scrollwheel: true,
                        disableDefaultUI: true,
                        {% if estados_d[0].sta_lat is defined and estados_d[0].sta_lng is defined %}
                            center: new google.maps.LatLng({{ estados_d[0].sta_lat }}, {{ estados_d[0].sta_lng }}),
                        {% else %}
                            center: new google.maps.LatLng(-14.5822, 1.45236),
                        {% endif %}

                        mapTypeId: google.maps.MapTypeId.ROADMAP,
                        zoomControl: false,
                        mapTypeControl: false,
                        scaleControl: false,
                        panControl: false,
                        fullscreenControl: false,
                        navigationControl: false,
                        streetViewControl: false,
                        animation: google.maps.Animation.BOUNCE,
                        gestureHandling: 'cooperative',
                        styles: [
                            {
                                "featureType": "administrative",
                                "elementType": "labels.text.fill",
                                "stylers": [
                                    {
                                        "color": "#444444"
                                    }
                                ]
                            }
                        ]
                    });
                } else {

                    var map = new google.maps.Map(document.getElementById('map'), {
                        zoom: zoomLevel,
                        scrollwheel: true,
                        center: new google.maps.LatLng(38.46581101942668, -97.67327016328125),
                        mapTypeId: google.maps.MapTypeId.ROADMAP,
                        zoomControl: false,
                        mapTypeControl: false,
                        scaleControl: false,
                        panControl: false,
                        fullscreenControl: false,
                        navigationControl: false,
                        streetViewControl: false,
                        animation: google.maps.Animation.BOUNCE,
                        gestureHandling: 'cooperative',
                        styles: [
                            {
                                "featureType": "administrative",
                                "elementType": "labels.text.fill",
                                "stylers": [
                                    {
                                        "color": "#444444"
                                    }
                                ]
                            }
                        ]
                    });
                }

                var boxText = document.createElement("div");
                boxText.className = 'map-box'
                var currentInfobox;
                var boxOptions = {
                    content: boxText,
                    disableAutoPan: true,
                    alignBottom: true,
                    maxWidth: 0,
                    pixelOffset: new google.maps.Size(-145, -45),
                    zIndex: null,
                    boxStyle: {
                        width: "260px"
                    },
                    closeBoxMargin: "0",
                    closeBoxURL: "",
                    infoBoxClearance: new google.maps.Size(1, 1),
                    isHidden: false,
                    pane: "floatPane",
                    enableEventPropagation: false
                };
                var markerCluster,
                    overlay,
                    i;
                var allMarkers = [];
                var clusterStyles = [
                    {
                        textColor: 'white',
                        url: '',
                        height: 50,
                        width: 50
                    }
                ];

                var markerIco;
                for (i = 0; i < locations.length; i++) {
                    markerIco = locations[i][4];
                    //alert(locations[i][0]);
                    var overlaypositions = new google.maps.LatLng(locations[i][1], locations[i][2]),
                        overlay = new CustomMarker(overlaypositions, map, {
                            marker_id: i
                        }, markerIco);
                    allMarkers.push(overlay);
                    var ib = new InfoBox();
                    //console.log(allMarkers);
                    google.maps.event.addListener(overlay, 'click', (function (overlay, i) {
                        return function () {
                            ib.setOptions(boxOptions);
                            boxText.innerHTML = locations[i][0];
                            ib.close();
                            ib.open(map, overlay);
                            currentInfobox = overlay.id;
                            var latLng = new google.maps.LatLng(locations[i][1], locations[i][2]);
                            map.panTo(latLng);
                            map.panBy(0, -180);
                            google.maps.event.addListener(ib, 'domready', function () {
                                $('.map-popup-close').click(function (e) {
                                    e.preventDefault();
                                    ib.close();
                                });
                            });
                        }
                    })(overlay, i));
                }

                var options = {
                    imagePath: 'images/',
                    styles: clusterStyles,
                    minClusterSize: 2
                };

                // Agrupar marker cercanos
                markerCluster = new MarkerClusterer(map, allMarkers, options);
                google.maps.event.addDomListener(window, "resize", function () {
                    var center = map.getCenter();
                    google.maps.event.trigger(map, "resize");
                    map.setCenter(center);
                });

                $('.nextmap-nav').click(function (e) {
                    e.preventDefault();
                    map.setZoom(9);
                    var index = currentInfobox;
                    if (index + 1 < allMarkers.length) {
                        google.maps.event.trigger(allMarkers[index + 1], 'click');
                    } else {
                        google.maps.event.trigger(allMarkers[0], 'click');
                    }
                });

                $('.prevmap-nav').click(function (e) {
                    e.preventDefault();
                    map.setZoom(9);
                    if (typeof(currentInfobox) == "undefined") {
                        google.maps.event.trigger(allMarkers[allMarkers.length - 1], 'click');
                    } else {
                        var index = currentInfobox;
                        if (index - 1 < 0) {
                            google.maps.event.trigger(allMarkers[allMarkers.length - 1], 'click');
                        } else {
                            google.maps.event.trigger(allMarkers[index - 1], 'click');
                        }
                    }
                });

                var zoomControlDiv = document.createElement('div');
                var zoomControl = new ZoomControl(zoomControlDiv, map);

                function ZoomControl(controlDiv, map) {
                    zoomControlDiv.index = 1;
                    map.controls[google.maps.ControlPosition.RIGHT_TOP].push(zoomControlDiv);
                    controlDiv.className = "leaflet-control-zoom";
                    var controlWrapper = document.createElement('div');
                    controlDiv.appendChild(controlWrapper);
                    var zoomInButton = document.createElement('div');
                    zoomInButton.className = "custom-zoom-in";
                    controlWrapper.appendChild(zoomInButton);
                    var zoomOutButton = document.createElement('div');
                    zoomOutButton.className = "custom-zoom-out";
                    controlWrapper.appendChild(zoomOutButton);
                    google.maps.event.addDomListener(zoomInButton, 'click', function () {
                        map.setZoom(map.getZoom() + 1);
                    });
                    google.maps.event.addDomListener(zoomOutButton, 'click', function () {
                        map.setZoom(map.getZoom() - 1);
                    });
                }

                $("#geoLocation, .input-with-icon.location a").click(function (e) {
                    e.preventDefault();
                    geolocate();
                });

                function geolocate() {
                    if (navigator.geolocation) {
                        navigator.geolocation.getCurrentPosition(function (position) {
                            var pos = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                            map.setCenter(pos);
                            map.setZoom(12);
                        });
                    }
                }
                if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                    map.setOptions({draggable: false});
                }
            }

            var map = document.getElementById('map');
            if (typeof(map) != 'undefined' && map != null) {
                google.maps.event.addDomListener(window, 'load', GooglMap);
                google.maps.event.addDomListener(window, 'resize', GooglMap);
            }

            function singlemap() {

                var myLatlng = new google.maps.LatLng({lng: $('#singlemap').data('longitude'), lat: $('#singlemap').data('latitude')});

                var single_map = new google.maps.Map(document.getElementById('singlemap'), {
                    zoom: 15,
                    center: myLatLng,
                    scrollwheel: false,
                    zoomControl: false,
                    mapTypeControl: false,
                    scaleControl: false,
                    panControl: false,
                    navigationControl: false,
                    streetViewControl: false,
                    styles: [
                        {
                            "featureType": "landscape",
                            "elementType": "all",
                            "stylers": [
                                {
                                    "color": "#f2f2f2"
                                }
                            ]
                        }
                    ]
                });

                var marker = new google.maps.Marker({position: myLatLng, map: single_map, icon: markerIcon, title: 'Our Location'});

                var zoomControlDiv = document.createElement('div');
                var zoomControl = new ZoomControl(zoomControlDiv, single_map);

                function ZoomControl(controlDiv, single_map) {
                    zoomControlDiv.index = 1;
                    single_map.controls[google.maps.ControlPosition.RIGHT_TOP].push(zoomControlDiv);
                    var controlWrapper = document.createElement('div');
                    controlDiv.appendChild(controlWrapper);
                    var zoomInButton = document.createElement('div');
                    zoomInButton.className = "custom-zoom-in";
                    controlWrapper.appendChild(zoomInButton);
                    var zoomOutButton = document.createElement('div');
                    zoomOutButton.className = "custom-zoom-out";
                    controlWrapper.appendChild(zoomOutButton);
                    google.maps.event.addDomListener(zoomInButton, 'click', function () {
                        single_map.setZoom(single_map.getZoom() + 1);
                    });
                    google.maps.event.addDomListener(zoomOutButton, 'click', function () {
                        single_map.setZoom(single_map.getZoom() - 1);
                    });
                }
                var singleMapIco = "<i class='im-icon'><img src='" + $('#singlemap').data('map-icon') + "'></i>";
                new CustomMarker(myLatlng, single_map, {
                    marker_id: '1'
                }, singleMapIco);
            }

            var single_map = document.getElementById('singlemap');
            if (typeof(single_map) != 'undefined' && single_map != null) {
                google.maps.event.addDomListener(window, 'load', singlemap);
                google.maps.event.addDomListener(window, 'resize', singlemap);
            }

            function CustomMarker(latlng, map, args, markerIco) {
                this.latlng = latlng;
                this.args = args;
                this.markerIco = markerIco;
                this.setMap(map);
            }

            CustomMarker.prototype = new google.maps.OverlayView();
            CustomMarker.prototype.draw = function () {
                var self = this;
                var div = this.div;
                if (!div) {
                    div = this.div = document.createElement('div');
                    div.className = 'map-marker-container';
                    div.innerHTML = '<div class="marker-container">' + '<div class="marker-card">' + '<div class="front face">' + self.markerIco + '</div>' + self.markerIco + '</div>' + '</div>' + '</div>'
                    google.maps.event.addDomListener(div, "click", function (event) {
                        $('.map-marker-container').removeClass('clicked infoBox-opened');
                        google.maps.event.trigger(self, "click");
                        $(this).addClass('clicked infoBox-opened');
                    });
                    if (typeof(self.args.marker_id) !== 'undefined') {
                        div.dataset.marker_id = self.args.marker_id;
                    }
                    var panes = this.getPanes();
                    panes.overlayImage.appendChild(div);
                }
                var point = this.getProjection().fromLatLngToDivPixel(this.latlng);
                if (point) {
                    div.style.left = (point.x) + 'px';
                    div.style.top = (point.y) + 'px';
                }
            };

            CustomMarker.prototype.remove = function () {
                if (this.div) {
                    this.div.parentNode.removeChild(this.div);
                    this.div = null;
                    $(this).removeClass('clicked');
                }
            };
            CustomMarker.prototype.getPosition = function () {
                return this.latlng;
            };


        });
</script>
{% endblock %}