<!DOCTYPE html>

<!-- ThreeSixty Creativity Website Template -->

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Doctor Billboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="ThreeSixty Bootstrap Template">
    <meta name="author" content="Fabian Bentz Webdesign">

    <!-- google web fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,300italic,500,400italic,700' rel='stylesheet' type='text/css'>
    
    <!-- CSS Styles -->
    
    <!-- bootstrap css -->

    <link rel="stylesheet" href="{{ asset('bundles/web/template/landing/css/bootstrap.css') }} ">
    
    <!-- custom css -->
    <link rel="stylesheet" href="{{ asset('bundles/web/template/landing/css/custom.css') }} ">
    
    <!-- standart theme css -->
    <link rel="stylesheet" href="{{ asset('bundles/web/template/landing/css/theme1.css') }} ">
    
    <!-- Font Awesome Icons css -->
    <link rel="stylesheet" href="{{ asset('bundles/web/template/landing/font-awesome/css/font-awesome.min.css') }} ">
    
    <!-- BxSlider and Sequence Slider css -->
    <link rel="stylesheet" href="{{ asset('bundles/web/template/landing/css/jquery.bxslider.css') }} ">

    <link rel="stylesheet" href="{{ asset('bundles/web/template/landing/css/sequence-slider.css') }} ">
    
    <!-- Magnific Popup core CSS file -->
    <link rel="stylesheet" href="{{ asset('bundles/web/template/landing/css/magnific-popup.css') }} ">

    <!-- Color Switch Panel css -->
    <link rel="stylesheet" href="{{ asset('bundles/web/template/landing/css/color.switch.css') }} ">
    
    <!-- Back to Top Button css -->
    <link rel="stylesheet" href="{{ asset('bundles/web/template/landing/css/top.css') }} ">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="{{ asset('bundles/web/template/landing/img/favicon.ico') }} ">
    <link rel="apple-touch-icon" href="{{ asset('bundles/web/template/landing/img/apple-touch-icon.png') }} ">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('bundles/web/template/landing/apple-touch-icon-72x72.png') }} ">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('bundles/web/template/landing/img/apple-touch-icon-114x114.png') }} ">

	<!-- Your Google Analytics Code Here!! -->

	
  </head>

<body>
  
<!-- START PRIMARY LAYOUT
======================== -->

<!-- Back to Top Button (visible after scrolling 1200px down) Change Styles at the top.css file -->

<div class="button-top" id="top-bt">

  <a href="#about"><i class="fa fa-sort-desc fa-3x"></i></a>
  
</div>

<!-- Back to Top Button END -->

<!-- NAVBAR -->
    
<!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->

<nav class="navbar navbar-inverse navbar-static-top" role="navigation" id="menu">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
           <!-- MENU LINKS -->
           <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav" id="navigation">
                <li><a href="#service">Service</a></li>
                <li><a href="#price">Price</a></li>
                <li><a href="#contact">Contact</a></li>
              </ul>
          </div>
        </div>
</nav>

<!-- NAVBAR END -->
  
<!-- SEQUENCE SLIDER Change Styles at the sequence-slider.css file --> 

<div id="top-slider">
	<div class="slider-bg"></div>
		   <div class="container">
		
           <div id="sequence">

				<img class="sequence-prev" src="{{ asset('bundles/web/template/landing/img/button-previous.svg') }}" alt="Previous Frame" />
				<img class="sequence-next" src="{{ asset('bundles/web/template/landing/img/button-next.svg') }}" alt="Next Frame" />

				<ul class="sequence-canvas">
					<li class="animate-in">
						<h2 class="title">Doctor Profile</h2>
						<h3 class="subtitle">Public Profile Information like services</h3>
						<img class="slider-image" src="{{ asset('bundles/web/template/landing/img/slider/2.png') }}" alt="Image" />
					</li>
					<li>
						<h2 class="title">We Marker Your Ubicacion</h2>
						<h3 class="subtitle">Easy to find your profile</h3>
						<img class="slider-image" src="{{ asset('bundles/web/template/landing/img/slider/1.png') }}" alt="Image" />
					</li>
					<li>
						<h2 class="title">Many People see your services</h2>
						<h3 class="subtitle">You have one contact point for your customers</h3>
						<img class="slider-image" src="{{ asset('bundles/web/template/landing/img/slider/3.png') }}" alt="Image" />
					</li>
				</ul>

				<ul class="sequence-pagination">
					<li><img src="{{ asset('bundles/web/template/landing/img/pagination-dot.svg') }}" alt="Image" /></li>
					<li><img src="{{ asset('bundles/web/template/landing/img/pagination-dot.svg') }}" alt="Image" /></li>
					<li><img src="{{ asset('bundles/web/template/landing/img/pagination-dot.svg') }}" alt="Image" /></li>
				</ul>
				
          </div>
          
    </div>
</div>

<!-- SEQUENCE SLIDER END -->
   

     
<!-- SERVICE -->
     
<div id="service">

  <div class="container">

    <div class="row">
    
     <div class="center-block head">
       
       <div class="col-lg-12 col-md-12 col-xs-12">
     
        <h1>What We Do</h1>
        <hr class="head-border-white">
         <p class="subhead">Te ubicamos en el mapa de la solusion para ser visto ante el mundo</p>
       </div>
          
      </div>
      
        <!-- SERVICE COLUMNS -->   
        <div class="col-lg-4 col-md-4 service">
         <div class="service-col">
         
           <div class="icon-desktop rotate">
             <img src="{{ asset('bundles/web/template/landing/img/icons/register.png') }}" alt="">
           </div>
           
          <h4>Register</h4>
          <p>You Need To Register In We Us web application.</p>
          
         </div>
        </div>
        
        <div class="col-lg-4 col-md-4 service">
        <div class="service-col">
        
          <div class="icon-wrench rotate">
            <img src="{{ asset('bundles/web/template/landing/img/icons/fillup.png') }}" alt="">
          </div>
           
          <h4>Information</h4>
          <p>With You Information The People Could Be Find You.</p>
          
          </div>
        </div>
        
        <div class="col-lg-4 col-md-4 service">
        <div class="service-col">
        
          <div class="icon-mobile rotate">
            <img src="{{ asset('bundles/web/template/landing/img/icons/miscellaneous.png') }}" alt="">
           </div>
           
          <h4>Public</h4>
          <p>Your Doctor Profile Wil Be In The Map For All World.</p>
          
        </div>
      </div>
      
      <div class="center-block service-btn">
         <p class="center"><a class="btn btn-hire btn-primary" href="#contact" role="button">Hire Us Now!</a></p>
      </div>
      
     </div>
   </div>
</div>

<!-- SERVICE END -->

<!-- PORTFOLIO -->

<div id="portfolio">

  <div class="container">

    
      <div class="center-block head">
      
        <div class="col-lg-12 col-md-12 col-xs-12">
      
         <h1 class="d-grey">One Month</h1>
           <hr class="head-border-grey">

        </div>        
      
      </div>

      <div class="center-block head">
      <div class="col-lg-12 col-md-12 col-xs-12">
           <h1 class="d-grey"><img src="{{ asset('bundles/web/template/landing/img/icons/free.png') }}" alt="" style="text-align: center;"></h1>
          
        </div>
      </div>
	
  
</div>

<!-- PORTFOLIO END -->

<!-- PROCESS -->

<div id="process">

  <div class="container">
      <div class="row">
    
      <div class="center-block head">
      
       <div class="col-lg-12 col-md-12 col-xs-12">
     
        <h1>How We Do</h1>
        <hr class="head-border-white">
          <p class="subhead center">Steps To Register.</p>
          
       </div>
         
      </div>
      
      <div class="our-process">
           
             <div class="process">
                <div class="col-lg-4 process-con img1">
                   <div class="process-img rotate">
                      <img src="{{ asset('bundles/web/template/landing/img/icons/course_pencil.png') }}" alt=""> 
                   </div>
                   <h5>Register</h5>
                </div>
                
               <div class="col-lg-4 process-con img2">
                 <div class="process-img rotate">
                   <img src="{{ asset('bundles/web/template/landing/img/icons/813844_people_512x512.png') }}" alt="">  
                 </div>
                 <h5>Fill Up Information</h5>
               </div>
               
               <div class="col-lg-4 process-con img3">
                 <div class="process-img rotate">
                  <img src="{{ asset('bundles/web/template/landing/img/icons/maps.png') }}" alt="">   
                 </div>
                 <h5>Maps Publication</h5>
               </div> 
            </div>
       </div>

   </div>
  </div>
  
</div>

<!-- PROCESS END -->



<!-- PRICE -->

<div id="price">

  <div class="container">
    <div class="row">
    
     <div class="center-block head tables">
     
      <div class="col-lg-12 col-md-12 col-xs-12">
    
       <h1>Best Price Guranteed</h1>
       <hr class="head-border-grey">
        <p class="d-grey center">Select the one you prefer</p>
       
      </div>
       
    </div>

      
      <!-- PRICE TABLES -->
        
        <!-- TABLE 2 -->
        <div class="col-lg-4 col-md-4">
            <div class="price-table">
                <div class="price-table-heading">
                    <h3 class="price-table-title lead d-grey">
                        1 month</h3>
                </div>
                <div class="price-table-body">
                    <div class="the-price white">
                        <h1>
                            $25<span class="month">/month</span></h1>
                        <small>1 Month FREE</small>
                    </div>
                    <table class="table">
                        <tr>
                            <td class="white">
                                Only for 1 Month
                            </td>
                        </tr>
                        <tr class="active">
                            <td class="blue">
                                Profile Information
                            </td>
                        </tr>
                        <tr class="">
                            <td class="white">
                                Contact Information
                            </td>
                        </tr>
                        <tr class="active">
                            <td class="blue">
                                Academy Information
                            </td>
                        </tr>
                        <tr>
                            <td class="white">
                                Map Ubication
                            </td>
                        </tr>
                        <tr class="active">
                            <td class="blue">
                                Schedule Work
                            </td>
                        </tr>
                        <tr>
                            <td class="white">
                                Socials Networks
                            </td>
                        </tr>
                        <tr class="active">
                            <td class="blue">
                                Speciality Medics
                            </td>
                        </tr>
                        <tr class="">
                            <td class="white">
                                Gallery
                            </td>
                        </tr>                       
                        
                        <tr class="active">
                            <td class="blue">
                                Easy Contact Doctor
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="price-table-footer">
                   <a href="register" class="btn btn-lg btn-primary" role="button">Sign Up</a>
                </div>
            </div>
        </div>

        <!-- TABLE 3 -->
        <div class="col-lg-4 col-md-4">
            <div class="price-table table-feature">
                <div class="price-table-heading">
                    <h3 class="price-table-title lead d-grey">
                        6 Months</h3>
                </div>
                <div class="price-table-body">
                    <div class="the-price white">
                        <h1>
                            $100<span class="month">/6 months</span></h1>
                        <small>1 Month FREE</small>
                    </div>
                    <table class="table">
                        <tr>
                            <td class="white">
                                6 Months
                            </td>
                        </tr>
                        <tr class="active">
                            <td class="blue">
                                Profile Information
                            </td>
                        </tr>
                        <tr class="">
                            <td class="white">
                                Contact Information
                            </td>
                        </tr>
                        <tr class="active">
                            <td class="blue">
                                Academy Information
                            </td>
                        </tr>
                        <tr>
                            <td class="white">
                                Map Ubication
                            </td>
                        </tr>
                        <tr class="active">
                            <td class="blue">
                                Schedule Work
                            </td>
                        </tr>
                        <tr>
                            <td class="white">
                                Socials Networks
                            </td>
                        </tr>
                        <tr class="active">
                            <td class="blue">
                                Speciality Medics
                            </td>
                        </tr>
                        <tr class="">
                            <td class="white">
                                Gallery
                            </td>
                        </tr>                       
                        
                        <tr class="active">
                            <td class="blue">
                                Easy Contact Doctor
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="price-table-footer">
                   <a href="register" class="btn btn-lg btn-primary" role="button">Sign Up</a>
                </div>
            </div>
        </div>
        
        <!-- TABLE 4 -->
        <div class="col-lg-4 col-md-4">
            <div class="price-table">
                <div class="price-table-heading">
                    <h3 class="price-table-title lead d-grey">
                        12 Months</h3>
                </div>
                <div class="price-table-body">
                    <div class="the-price white">
                        <h1>
                            $150<span class="month">/1 Year</span></h1>
                        <small>1 Month FREE</small>
                    </div>
                    <table class="table">
                        <tr>
                            <td class="white">
                                1 Year
                            </td>
                        </tr>
                        <tr class="active">
                            <td class="blue">
                                Profile Information
                            </td>
                        </tr>
                        <tr class="">
                            <td class="white">
                                Contact Information
                            </td>
                        </tr>
                        <tr class="active">
                            <td class="blue">
                                Academy Information
                            </td>
                        </tr>
                        <tr>
                            <td class="white">
                                Map Ubication
                            </td>
                        </tr>
                        <tr class="active">
                            <td class="blue">
                                Schedule Work
                            </td>
                        </tr>
                        <tr>
                            <td class="white">
                                Socials Networks
                            </td>
                        </tr>
                        <tr class="active">
                            <td class="blue">
                                Speciality Medics
                            </td>
                        </tr>
                        <tr class="">
                            <td class="white">
                                Gallery
                            </td>
                        </tr>                       
                        
                        <tr class="active">
                            <td class="blue">
                                Easy Contact Doctor
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="price-table-footer">
                   <a href="register" class="btn btn-lg btn-primary" role="button">Sign Up</a>
                </div>
            </div>
        </div>
        
  </div>
 </div>
</div>

<!-- PRICE END -->





<!-- FACTS -->
     
<div id="facts">

  <div class="container">

    <div class="row">
    
     <div class="center-block head">
     
      <div class="col-lg-12 col-md-12 col-xs-12">
     
        <h1>Multi Region</h1>
        <hr class="head-border-white">
         <p class="subhead">Every Doctor in US and CN. Can register</p>
         
       </div>
         
      </div>
      
        <!-- SERVICE COLUMNS -->   
        <div class="col-lg-4 col-md-4">
           <div class="fun-fact">
            <h3>US<br> </h3>
            <hr class="head-border-grey">
            <p>All State</p>
           </div>
          </div>
          
          <div class="col-lg-4 col-md-4">
           <div class="fun-fact">
            <h3>Canada<br> </h3>
            <hr class="head-border-grey">
            <p>All State</p>
           </div>
          </div>

          
          <div class="col-lg-4 col-md-4">
           <div class="fun-fact">
            <h3>Central America<br></h3>
            <hr class="head-border-grey">
            <p>Coming Ssoon</p>
           </div>
          </div>
          
      </div>
   </div>
</div>

<!-- FACTS END -->

<!-- GOOGLE MAP DIVIDER -->

<div id="map">
  <iframe class="border" src="http://localhost/directory/web/app_dev.php/" scrolling="no"><!-- Place Your Google Map Link here -->
  </iframe>
</div>

<!-- GOOGLE MAP DIVIDER END -->

<!-- CONTACT -->

<div id="contact">

  <div class="container">
     <div class="row">
    
      <div class="center-block head">
      
       <div class="col-lg-12 col-md-12 col-xs-12">
    
         <h1>Get in Touch</h1>
         <hr class="head-border-grey">
           <p class="center">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
        
       </div>
       
    </div>
      
      <!-- CONTACT FORM -->
      <div class="col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2 form">
      <!--FORM -->
      <form action="./contact.php" class="form-horizontal" role="form" id="contactForm" method="post" name="contactForm">
            
            <div class="form-group">
               
                <div class="col-sm-12">
                <input type="text" class="form-control input-lg" name="name" id="name" placeholder="Name*">
                </div>
            </div>
            
            <div class="form-group">
                  
                    <div class="col-sm-12">
                      <input type="email" class="form-control input-lg" name="email" id="email" placeholder="Email*">
                  </div>
            </div>
            
            <div class="form-group">
                  
                    <div class="col-sm-12">
                      <input type="text" class="form-control input-lg" name="phone" id="phone" placeholder="Phone">
                  </div>
            </div>
            
            <div class="form-group">
                  
                    <div class="col-sm-12">
                      <textarea class="form-control input-lg" rows="10" name="message" id="message" placeholder="Message*"></textarea>
                  </div>
            </div>
            
            <div class="control-group submit center">
               <input class="btn btn-lg btn-primary" type="submit" value="Submit">
            </div>

           </form>
           
           <p class="d-grey requi">* Required</p>
      
      </div>
      
     </div>
  </div>
</div>

<!-- CONTACT END -->

<!-- GOING UP ARROW -->

<div class="col-lg-12">
  <div class="up"><a href="#about"><span class="glyphicon glyphicon-chevron-up"></span></a></div>
</div>

<!-- GOING UP ARROW END -->

<!-- SOCIAL MEDIA DIVIDER -->

<div id="divider">
		<div class="divider-bg"></div>

  <div class="container">
  
	<div class="row">
      <div class="col-12-lg social-media">
        
    		<div class="social-icons">
    		
            <a class="social-media facebook" href=""><i class="fa fa-facebook-square fa-8x"></i></a>
				    <a class="social-media white twitter" href=""><i class="fa fa-twitter-square fa-8x"></i></a>
				    <a class="social-media white google" href=""><i class="fa fa-google-plus-square fa-8x"></i></a>
              
        </div>  
              
      </div>
	</div>
  
  </div>

</div>

<!-- SOCIAL MEDIA DIVIDER END --> 

<!-- BOTTOM -->

<div id="foot">

  <div class="container">
     <div class="row">
     
 
      <div class="col-lg-12 col-md-12">
        <div class="bottom-con">
            <h5>Write Us</h5>
            <hr class="head-border-white">
            <i class="fa fa-envelope"><span> info@doctorbillboard.com</span></i>       
        </div>
      </div>
   
          
           <div class="col-lg-12 col-md-12 footer">
               
                  <p>&copy; 2018. &middot; DoctorsBillboard.com All Rights Reserved </p>
           </div> 
           
     </div>
  </div>
  
</div>

<!-- FOOTER END -->

<!-- COLOR SWITCH. Change Styles at the color.switch.css file -->


<!-- END PRIMARY LAYOUT
====================== -->


<!-- JAVASCRIPT
================================================== -->

<!-- BOOTSTRAP JAVASCRIPT -->
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="{{ asset('bundles/web/template/landing/js/bootstrap.min.js') }} "></script>


<!-- CUSTOM JAVASCRIPT -->
<!-- Custom Functions -->
<script src="{{ asset('bundles/web/template/landing/js/functions.js') }} "></script>


<!-- Portfolio with mixitup filter and prettyphoto -->
<script src="{{ asset('bundles/web/template/landing/js/jquery.mixitup.min.js') }} "></script>

<!-- Magnific Popup core JS file -->
<script src="{{ asset('bundles/web/template/landing/js/magnific.js') }} "></script>

<!-- BxSlider -->
<script src="{{ asset('bundles/web/template/landing/js/jquery.bxslider.min.js') }} "></script>

<!-- Sequence Slider -->
<script src="{{ asset('bundles/web/template/landing/js/jquery.sequence-min.js') }} "></script>


<!-- Parallax Background -->
<script src="{{ asset('bundles/web/template/landing/js/nbw-parallax.js') }} "></script>
<script src="{{ asset('bundles/web/template/landing/js/jquery.inview.js') }} "></script>


<!-- Smooth Scrolling -->
<script src="{{ asset('bundles/web/template/landing/js/smoothscroll.js') }} "></script>


<!-- Sticky Navigation --> 
<script src="{{ asset('bundles/web/template/landing/js/jquery.sticky.js') }} "></script>


<!-- Style Switcher --> 
<script src="{{ asset('bundles/web/template/landing/js/jquery.style-switcher.js') }} "></script>


<!-- Clients Slider -->
<script src="{{ asset('bundles/web/template/landing/js/jquery.flexisel.js') }} "></script>


<!-- Retina JS -->
<script src="{{ asset('bundles/web/template/landing/js/retina-1.1.0.min.js') }} "></script>


</body>
</html>