{% extends 'web/base.html.twig' %}

{% block title_page %}
    MD || Find your medics
{% endblock %}

{% block classbg %}
    listing-with-map-page
{% endblock %} 

{% block content %}

<!-- Listing-detail-Header -->
<section class="listing_detail_header style2_header parallex-bg">
	<div class="container">
    	<div class="div_zindex white-text">
        	<div class="row">

            	<div class="col-md-8">
                    <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#description" aria-expanded="true" aria-controls="collapseOne">
                                            <i class="fa  fa-home"></i> {{ profile[0].ci_company }}</a>
                                        </a>
                                    </h4>
                                </div>
                                <div id="description" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body" style="position: absolute; z-index: 100;">
                                        <p>
                                            {% if horario|length %}

                                            <table class="table table-striped text-center" style="table-layout: fixed; background: white;">
                                                <tr>
                                                    {% for key, horas in horario %}
                                                        <th class="text-center">
                                                            {% if ( key == hoy) %}
                                                                <span style="color:#009bdb">{{ key }}</span>
                                                            {% else %}
                                                                {{ key }}
                                                            {% endif %}
                                                        </th>
                                                    {% endfor %}
                                                </tr>
                                                <tr>
                                                    {% for key, horas in horario %}
                                                        <td>
                                                            {{ horas|raw }}
                                                        </td>
                                                    {% endfor %}
                                                </tr>
                                            </table>
                                            {% else %}
                                                N/A
                                            {% endif %}
                                        </p>
                                    </div>
                                    <div id="single_map" style="margin-top: 0px;">
                                        <div id="singleListingMap-container">
                                            <div id="singlemap" data-latitude="{{ profile[0].ci_lat }}" data-longitude="{{ profile[0].ci_lng }}" data-map-icon="{{ asset('bundles/web/template/Site/assets/images/doctor.jpg') }} "></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                	
                    <p>
                        {{ profile[0].md_first_name }}
                        {{ profile[0].md_first_surname }}
                    </p>

                </div>
                <div class="col-md-4">
                    <!--
                	<div class="pricing_info">
                        <p class="listing_price"><span>$</span>2500 - <span>$</span>4000</p>
                        <div class="listing_message"><a class="btn" data-toggle="modal" data-target="#message_modal"><i class="fa fa-envelope-o"></i> Send Message</a></div>
                    </div>
                    -->

                    <div class="listing_wrap">
                        <div class="listing_img">
                            <span class="like_post"><i class="fa fa-bookmark-o"></i></span>
                            <div class="listing_cate">
                                
                                
                            </div>
                            <a href="#"><img src="{{ asset('uploads/') }}{{profile[0].md_profile_image}} " alt="image"></a>
                        </div>
                        <div class="listing_info">
                            <div class="post_category">
                                <a href="#">{{ profile[0].esp }}</a>
                                
                            </div>

                            
                            <div class="listing_review_info">
                                <p><span class="review_score">{{ profile[0].total }}</span> 
                          
                           ( <i class="fa fa-eye active"></i> Views) </p>

                                <p class="listing_map_m"><i class="fa fa-map-marker"></i>
                                     {{ profile[0].cit_name }} /{{ profile[0].sta_name }}
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="dark-overlay"></div>
</section>
<!-- /Listing-detail-Header -->

<!-- Listings -->
<section class="listing_info_wrap listing_detail_2">
	<div class="container">
            <!--
        	<div class="sidebar_wrap listing_action_btn">
                <ul>
                    <li><a data-toggle="modal" data-target="#share_modal"><i class="fa fa-facebook"></i>Social Network</a></li>
                    <li><a data-toggle="modal" data-target="#email_friends_modal"><i class="fa fa-envelope-o"></i>Twitter</a></li>
                    <li><a href="#writereview" class="js-target-scroll"> <i class="fa fa-star"></i> G-Mail</a></li>
                    <li><a data-toggle="modal" data-target="#report_modal"><i class="fa fa-exclamation-triangle"></i> Other</a></li>
                </ul>
            </div>
            -->
                    
            <div class="image_slider_wrap">
                <div id="listing_img_slider">
                    <div class="owl-carousel owl-theme">
                        {% for g in gallery %}
                            <div class="item">
                                <img src="{{ asset('uploads/') }}{{ g.ga_name }}  " style="height: 300px;" alt="image">
                            </div>
                        {% endfor %}
                    </div>    
                </div>
                <div class="view_map">
                    <a href="#single_map" class="js-target-scroll"><i class="fa fa-map-marker"></i></a>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-8">
                    <div class="ElemoListing_detail">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#description" aria-expanded="true" aria-controls="collapseOne">
                                            <i class="fa  fa-clock-o"></i> Schedule </a>
                                        </a>
                                    </h4>
                                </div>
                                <div id="description" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <p>
                                            {% if horario|length %}

                                            <table class="table table-striped text-center" style="table-layout: fixed;">
                                                <tr>
                                                    {% for key, horas in horario %}
                                                        <th class="text-center">
                                                            {% if ( key == hoy) %}
                                                                <span style="color:#009bdb">{{ key }}</span>
                                                            {% else %}
                                                                {{ key }}
                                                            {% endif %}
                                                        </th>
                                                    {% endfor %}
                                                </tr>
                                                <tr>
                                                    {% for key, horas in horario %}
                                                        <td>
                                                            {{ horas|raw }}
                                                        </td>
                                                    {% endfor %}
                                                </tr>
                                            </table>
                                            {% else %}
                                                N/A
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                              
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                  <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#amenities" aria-expanded="false" aria-controls="collapseTwo"><i class="fa fa-align-left"></i> Profile Description</a>
                                  </h4>
                                </div>
                                <div id="amenities" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                  <div class="panel-body">
                                    {{ profile[0].md_profile_description }}
                                  </div>
                                </div>
                            </div>
                              
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                  <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#opening_hours" aria-expanded="false" aria-controls="collapseThree"> <i class="fa fa-calendar-check-o"></i> Academic Training </a>
                                  </h4>
                                </div>
                                <div id="opening_hours" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                  <div class="panel-body">
                                    {{ profile[0].md_academic_training }}
                                  </div>
                                </div>
                            </div>
                              
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingFour">
                                  <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#md_professional_experience" aria-expanded="false" aria-controls="collapseFour"> <i class="fa fa-calendar-check-o"></i> Professional Experience</a>
                                  </h4>
                                </div>
                                <div id="md_professional_experience" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                  <div class="panel-body">
                                    {{ profile[0].md_professional_experience }}
                                  </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingFour">
                                  <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#md_courses_seminars" aria-expanded="false" aria-controls="collapseFour"> <i class="fa fa-calendar-check-o"></i> Courses/Seminars </a>
                                  </h4>
                                </div>
                                <div id="md_courses_seminars" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                  <div class="panel-body">
                                    {{ profile[0].md_courses_seminars }}
                                  </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingFour">
                                  <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#md_aditional_information" aria-expanded="false" aria-controls="collapseFour"> <i class="fa fa-calendar-check-o"></i> Aditional Information </a>
                                  </h4>
                                </div>
                                <div id="md_aditional_information" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                  <div class="panel-body">
                                    {{ profile[0].md_aditional_information }}
                                  </div>
                                </div>
                            </div>

                        </div>
                    
                        
                    </div>
                </div>
                
                <!-- Sidebar -->
                 <div class="col-md-4">
                    <div class="ElemoListing_sidebar">
                        <div class="sidebar_wrap listing_contact_info">
                            <div class="widget_title">
                                <h6>Contact Info</h6>
                            </div>
                            <ul>
                                <li><i class="fa fa-map-marker"></i> {{ profile[0].ci_address }} {{ profile[0].cit_name }} / {{ profile[0].sta_name  }} </li>
                                <li><i class="fa fa-phone"></i> {{ profile[0].ci_phone1 }} / {{ profile[0].ci_phone2  }} </li>
                                <li><i class="fa fa-envelope"></i> {{ profile[0].ci_phone1 }}</li>
                                <li><i class="fa fa-link"></i> {{ profile[0].usr_email }}</li>
                            </ul>
                            <div class="social_links">
                                {% for sn in  social_network %}
                                    <a href="{{ sn.usn_link }}" target="_blanck"><i class="fa fa-{{ sn.sn_type | lower }}"></i></a>
                                {% endfor %}
                            </div>
                        </div>
                        
                    </div>
                </div>
                <!-- /Sidebar -->
            </div>
    </div>
</section>
<!-- /Listings -->

<!-- Similar-Listings --> <!--
<section id="similar_listings" class="section-padding gray_bg">
	<div class="container">
		<div class="section-header text-center">
            <h2>Similar Listings </h2>
        </div>
        <div class="row">
            <div class="col-md-4 show_listing grid_col">
                <div class="listing_wrap">
                    <div class="listing_img">
                        <span class="like_post"><i class="fa fa-bookmark-o"></i></span>
                        <div class="listing_cate">
                            <span class="cate_icon"><a href="#"><img src="{{ asset('bundles/web/template/Site/assets/images/category-icon1.png') }} " alt="icon-img"></a></span> 
                            <span class="listing_like"><a href="#"><i class="fa fa-heart-o"></i></a></span>
                        </div>
                        <a href="#"><img src="{{ asset('bundles/web/template/Site/assets/images/800x530.jpg') }} " alt="image"></a>
                    </div>
                    <div class="listing_info">
                        <div class="post_category">
                            <a href="#">Real Estate</a>
                            
                        </div>
                        <h4><a href="#">The Morning Hotel</a></h4>
                        <p>5-star hotel with restaurant, Deluxe Rooms.</p>
                        
                        <div class="listing_review_info">
                            <p><span class="review_score">4.0/5</span> 
                               <i class="fa fa-star active"></i> <i class="fa fa-star active"></i> <i class="fa fa-star active"></i> 
                               <i class="fa fa-star active"></i> <i class="fa fa-star"></i> 
                               (5 Reviews) </p>
                            <p class="listing_map_m"><i class="fa fa-map-marker"></i> Los Angeles</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 show_listing grid_col">
                <!--
                <div class="listing_wrap">
                    <div class="listing_img">
                        <span class="like_post"><i class="fa fa-bookmark-o"></i></span>
                        <div class="listing_cate">
                            <span class="cate_icon"><a href="#"><img src="{{ asset('bundles/web/template/Site/assets/images/category-icon1.png') }} " alt="icon-img"></a></span> 
                            <span class="listing_like"><a href="#"><i class="fa fa-heart-o"></i></a></span>
                        </div>
                        <a href="#"><img src="{{ asset('bundles/web/template/Site/assets/images/800x530.jpg') }} " alt="image"></a>
                    </div>
                    <div class="listing_info">
                        <div class="post_category">
                            <a href="#">Real Estate</a>
                            
                        </div>
                        <h4><a href="#">The Morning Hotel</a></h4>
                        <p>5-star hotel with restaurant, Deluxe Rooms.</p>
                        
                        <div class="listing_review_info">
                            <p><span class="review_score">4.0/5</span> 
                               <i class="fa fa-star active"></i> <i class="fa fa-star active"></i> <i class="fa fa-star active"></i> 
                               <i class="fa fa-star active"></i> <i class="fa fa-star"></i> 
                               (5 Reviews) </p>
                            <p class="listing_map_m"><i class="fa fa-map-marker"></i> Los Angeles</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 show_listing grid_col">
                <!--
                <div class="listing_wrap">
                    <div class="listing_img">
                        <span class="like_post"><i class="fa fa-bookmark-o"></i></span>
                        <div class="listing_cate">
                            <span class="cate_icon"><a href="#"><img src="{{ asset('bundles/web/template/Site/assets/images/category-icon1.png') }}  " alt="icon-img"></a></span> 
                            <span class="listing_like"><a href="#"><i class="fa fa-heart-o"></i></a></span>
                        </div>
                        <a href="#"><img src="{{ asset('bundles/web/template/Site/assets/images/800x530.jpg') }} " alt="image"></a>
                    </div>
                    <div class="listing_info">
                        <div class="post_category">
                            <a href="#">Real Estate</a>
                            
                        </div>
                        <h4><a href="#">The Morning Hotel 24</a></h4>
                        <p>5-star hotel with restaurant, Deluxe Rooms.</p>
                        
                        <div class="listing_review_info">
                            <p><span class="review_score">4.0/5</span> 
                               <i class="fa fa-star active"></i> <i class="fa fa-star active"></i> <i class="fa fa-star active"></i> 
                               <i class="fa fa-star active"></i> <i class="fa fa-star"></i> 
                               (5 Reviews) </p>
                            <p class="listing_map_m"><i class="fa fa-map-marker"></i> Los Angeles</p>
                        </div>
                    </div>
                </div>
                -->
            </div>
        </div>
    </div>
</section>
<!-- /Similar-Listings -->

<!-- Share-Listing -->
<div id="share_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h3 class="modal-title">Social Network</h3>
      </div>
      <div class="modal-body">
      	<div class="share_listing">
            <!--
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
            -->
            {% for sn in  social_network %}
                <a href="{{ sn.usn_link }}" target="_blanck"><i class="fa fa-{{ sn.sn_type | lower }}"></i></a>
            {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Share-Listing -->

<!-- Email-to-Friends -->
<div id="email_friends_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h3 class="modal-title">Email to Friend</h3>
      </div>
      <div class="modal-body">
        <form action="#" method="get">
          <div class="form-group">
            <input class="form-control" placeholder="Your Name" type="text" autocomplete="off">
          </div>
          <div class="form-group">
            <input class="form-control" placeholder="Your Email Address" type="email" autocomplete="off">
          </div>
          <div class="form-group">
            <input class="form-control" placeholder="Friend Email Address" type="email" autocomplete="off">
          </div>
          <div class="form-group">
            <textarea rows="4" class="form-control" placeholder="Message"></textarea>
          </div>
          <div class="form-group">
            <input value="Submit" class="btn btn-block" type="submit">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /Email-to-Friends -->

<!-- Report -->
<div id="report_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h3 class="modal-title">Report This Listing</h3>
        <p>Please indicate what problem has been found!</p>
      </div>
      <div class="modal-body">
        <form action="#" method="get">
          <div class="form-group">
            <div class="radio">
                <input type="radio" name="RadioGroup1" value="radio" id="RadioGroup1_0" checked>
                <label for="RadioGroup1_0">Duplicate Listing</label>
             </div>
             <div class="radio">
                <input type="radio" name="RadioGroup1" value="radio" id="RadioGroup1_1">
                <label for="RadioGroup1_1">Wrong Contact Info </label>
             </div>
             <div class="radio">
                <input type="radio" name="RadioGroup1" value="radio" id="RadioGroup1_2">
                <label for="RadioGroup1_2">Fake Listing</label>
             </div>
             <div class="radio">
                <input type="radio" name="RadioGroup1" value="radio" id="RadioGroup1_2">
                <label for="RadioGroup1_2">Other Problem</label>
             </div>
          </div>
          <div class="form-group">
            <textarea rows="4" class="form-control" placeholder="Problem Description"></textarea>
          </div>
          <div class="form-group">
            <input value="Submit" class="btn btn-block" type="submit">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /Report -->

<!-- Send-Message -->
<div id="message_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h3 class="modal-title">Send Message</h3>
      </div>
      <div class="modal-body">
        <form action="#" method="get">
          <div class="form-group">
          	<input type="text" class="form-control" placeholder="Name" autocomplete="off">
          </div>
          <div class="form-group">
          	<input type="email" class="form-control" placeholder="Email" autocomplete="off">
          </div>
          <div class="form-group">
            <textarea rows="4" class="form-control" placeholder="Message"></textarea>
          </div>
          <div class="form-group">
            <input value="Send Message" class="btn btn-block" type="submit">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /Send-Message -->

{% endblock %}

{% block codejs %}
    <script>

        $(function () {
               
    /*-------------------------------------------------------------------------------
		Googl-Map
	-------------------------------------------------------------------------------*/

    var map = document.getElementById('map');
    if (typeof(map) != 'undefined' && map != null) {
        google.maps.event.addDomListener(window, 'load', GooglMap);
        google.maps.event.addDomListener(window, 'resize', GooglMap);
    }

    function singlemap() {
        var myLatlng = new google.maps.LatLng({
            lng: $('#singlemap').data('longitude'),
            lat: $('#singlemap').data('latitude'),
        });
        var single_map = new google.maps.Map(document.getElementById('singlemap'), {
            zoom: 15,
            center: myLatlng,
            scrollwheel: false,
            zoomControl: false,
            mapTypeControl: false,
            scaleControl: false,
			fullscreenControl: false,
            panControl: false,
            navigationControl: false,
            streetViewControl: false,
        });
        var zoomControlDiv = document.createElement('div');
        var zoomControl = new ZoomControl(zoomControlDiv, single_map);

        function ZoomControl(controlDiv, single_map) {
            zoomControlDiv.index = 1;
            single_map.controls[google.maps.ControlPosition.RIGHT_TOP].push(zoomControlDiv);
            var controlWrapper = document.createElement('div');
            controlDiv.appendChild(controlWrapper);
            var zoomInButton = document.createElement('div');
            zoomInButton.className = "custom-zoom-in";
            controlWrapper.appendChild(zoomInButton);
            var zoomOutButton = document.createElement('div');
            zoomOutButton.className = "custom-zoom-out";
            controlWrapper.appendChild(zoomOutButton);
            google.maps.event.addDomListener(zoomInButton, 'click', function() {
                single_map.setZoom(single_map.getZoom() + 1);
            });
            google.maps.event.addDomListener(zoomOutButton, 'click', function() {
                single_map.setZoom(single_map.getZoom() - 1);
            });
        }
        var singleMapIco = "<i class='im-icon'><img src='" + $('#singlemap').data('map-icon') + "'></i>";
        new CustomMarker(myLatlng, single_map, {
            marker_id: '1'
        }, singleMapIco);
    }
    var single_map = document.getElementById('singlemap');
    if (typeof(single_map) != 'undefined' && single_map != null) {
        google.maps.event.addDomListener(window, 'load', singlemap);
        google.maps.event.addDomListener(window, 'resize', singlemap);
    }

    function CustomMarker(latlng, map, args, markerIco) {
        this.latlng = latlng;
        this.args = args;
        this.markerIco = markerIco;
        this.setMap(map);
    }
    CustomMarker.prototype = new google.maps.OverlayView();
    CustomMarker.prototype.draw = function() {
        var self = this;
        var div = this.div;
        if (!div) {
            div = this.div = document.createElement('div');
            div.className = 'map-marker-container';
            div.innerHTML = '<div class="marker-container">' + '<div class="marker-card">' + '<div class="front face">' + self.markerIco + '</div>' + self.markerIco + '</div>'  + '</div>' + '</div>'
            google.maps.event.addDomListener(div, "click", function(event) {
                $('.map-marker-container').removeClass('clicked infoBox-opened');
                google.maps.event.trigger(self, "click");
                $(this).addClass('clicked infoBox-opened');
            });
            if (typeof(self.args.marker_id) !== 'undefined') {
                div.dataset.marker_id = self.args.marker_id;
            }
            var panes = this.getPanes();
            panes.overlayImage.appendChild(div);
        }
        var point = this.getProjection().fromLatLngToDivPixel(this.latlng);
        if (point) {
            div.style.left = (point.x) + 'px';
            div.style.top = (point.y) + 'px';
        }
    };
    CustomMarker.prototype.remove = function() {
        if (this.div) {
            this.div.parentNode.removeChild(this.div);
            this.div = null;
            $(this).removeClass('clicked');
        }
    };
    CustomMarker.prototype.getPosition = function() {
        return this.latlng;
    }; 
        });   
    </script> 
    </script>
{% endblock %}        

