{% extends 'app/base.html.twig' %}

{% block title_page %}
    DB || Setting
{% endblock %}

{% block breadcrumb %}
    {# {{ include('EmrBundle:consulta:_breadcrumb.html.twig' )  }} #}
{% endblock %} 

{% block submenutop %}
    {# {{ include('EmrBundle:consulta:_submenu.html.twig' )  }} #}
{% endblock %} 



{% block header %}
        <h1>My General Settings</h1>
{% endblock %}

{% block content %}

{#  Check the notifications #}
    {% set created = 0 %}
    {% for message in app.session.flashbag().get("success") %}
        <div class="alert alert-success"><i class="fa fa-check-circle-o" aria-hidden="true"></i> {{message}}</div>
    {% endfor %}
    {% for message in app.session.flashbag().get("error") %}
        <div class="alert alert-danger"><i class="fa fa-times" aria-hidden="true"></i> {{message}} </div>
    {% endfor %}
    {# End notifications #}
        <div class="box  {# collapsed-box #}">
            <div class="box-header">
                <h3 class="box-title">Set my configuration
                   {# <small>Advanced and full of features</small> #}
                </h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body pad">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="box box-success">
                            <div class="box-header with-border">
                                <h3 class="box-title">Reset Password</h3>
                            </div>
                            <div class="box-body">

                                <form action="{{ path('settings_changepassword') }}" method="POST">
                                    <div>
                                        Current Password: <input type="password" id="currentPass" name="currentPass" class="form-control" required="required">
                                    </div>
                                    <div>
                                        New Password: <input type="password" id="newPass" name="newPass" class="form-control" required="required">
                                    </div>
                                    <div>
                                        Repeat Password: <input type="password" id="repeatPass" name="repeatPass" class="form-control" required="required">
                                    </div>
                                    <hr>
                                    <button type="submit" class="btn bg-navy">Change Password</button>
                                </form> 
                            </div>
                        </div> 

                        <div class="box box-success">
                            <div class="box-header with-border">
                                <h3 class="box-title">Notifications</h3>
                            </div>
                            <div class="box-body">
                                <form action="{{ path('settings_notifications') }}" method="POST">
                                    <div>
                                       <div class="checkbox">
                                        <label>
                                            {% if app.user.usrNotificationContactForm %}
                                                <input type="checkbox" value="1" checked="checked" id="contactForm" name="contactForm">
                                            {% else %}
                                                <input type="checkbox" value="1"  id="contactForm" name="contactForm">
                                            {% endif %}
                                                All users can send me a contact form 
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                {% if app.user.usrNotificationPayment %}
                                                    <input type="checkbox" value="1" checked="checked"  id="payment" name="payment">
                                                {% else %}
                                                    <input type="checkbox" value="1" id="payment" name="payment">
                                                {% endif %}
                                                Notify me when the membership expire
                                            </label>
                                        </div>
                                    </div>
                                    <hr>
                                    <button type="submit" class="btn bg-navy">Save changes</button>
                                </form> 
                            </div>
                        </div>  
                    </div>
                </div>           
            </div>
        </div>

{% endblock %}

{% block codejs %}
    <script>
        //$(document).on("ready", function(){
        $(function () {
            
        });
    </script>
{% endblock %}        
