{% extends 'app/base.html.twig' %}

{% block title_page %}
    DB || My information
{% endblock %}

{% block breadcrumb %}
    {# {{ include('EmrBundle:consulta:_breadcrumb.html.twig' )  }} #}
{% endblock %}

{% block submenutop %}
    {# {{ include('EmrBundle:consulta:_submenu.html.twig' )  }} #}
{% endblock %}



{% block header %}
        <h1>My current information</h1>
{% endblock %}

{% block content %}

    <style>
        .select2-container--default .select2-selection--multiple .select2-selection__choice{
            color : #000 !important;
        }
    </style>
    {#}
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}
    #}
    {{form_start(edit_form,{'enctype':'multipart/form-date'})}}
            <div class="">
                <div class="">
                    <div class="box  {# collapsed-box #}">
                        <div class="box-header">
                            <h3 class="box-title">Personal Info :
                                {# <small>Advanced and full of features</small> #}
                            </h3>
                            <!-- tools box -->
                            <div class="pull-right box-tools">
                                <button type="button" class="btn btn-default  btn-sm" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                                <i class="fa fa-minus"></i></button>
                            </div>
                            <!-- /. tools -->
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body pad">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="box box-success">
                                        <div class="box-header with-border">
                                        <h3 class="box-title">Full Name</h3>
                                        </div>
                                        <div class="box-body">
                                            <div class="row">
                                                <div class="col-md-6 col-lg6 col-sm-12">
                                                    <div class="form-group">
                                                        <div class="form_error">{{ form_errors(edit_form.mdFirstName)}}</div>
                                                            <label for="" class=" control-label">First Name : <span class="text-danger">*</span></label>
                                                        <div class="">{{ form_widget(edit_form.mdFirstName,  { 'attr': {'class': 'form-control'} } ) }}</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-lg-6 col-sm-12">
                                                    <div class="form-group">
                                                        <div class="form_error">{{ form_errors(edit_form.mdMiddleName)}}</div>
                                                            <label for="" class=" control-label">Middle Name : </label>
                                                        <div class="">{{ form_widget(edit_form.mdMiddleName,  { 'attr': {'class': 'form-control'} } ) }}</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-lg-6 col-sm-12">
                                                    <div class="form-group">
                                                        <div class="form_error">{{ form_errors(edit_form.mdFirstSurname)}}</div>
                                                            <label for="" class=" control-label">First Surname : <span class="text-danger">*</span></label>
                                                        <div class="">{{ form_widget(edit_form.mdFirstSurname,  { 'attr': {'class': 'form-control'} } ) }}</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-lg-6 col-sm-12">
                                                    <div class="form-group">
                                                        <div class="form_error">{{ form_errors(edit_form.mdSecondSurname)}}</div>
                                                            <label for="" class=" control-label">Second Surname : </label>
                                                        <div class="">{{ form_widget(edit_form.mdSecondSurname,  { 'attr': {'class': 'form-control'} } ) }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.box-body -->
                                    </div>

                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="box box-success">
                                        <div class="box-header with-border">
                                        <h3 class="box-title">Specialities :</h3>
                                        </div>
                                        <div class="box-body">
                                            <div class="form-group">
                                                <div class="form_error">{{ form_errors(edit_form.extraSpeciality)}}</div>
                                                <div class="input-groupx">
                                                    <small id="emailHelp" class="form-text text-muted">You can select all yours specialities</small>
                                                    {{ form_widget(edit_form.extraSpeciality,  { 'attr': {'class': 'form-control'} } ) }}
                                                    <small id="emailHelp" class="form-text text-muted">If you can't  find your specialities email us.</small>
                                                </div>
                                            </div>
                                        </div>
                                        {#
                                         <div class="box-body">
                                            <div class="form-group">
                                                <div class="form_error">{{ form_errors(edit_form.extraSpeciality)}}</div>
                                                <div class="input-groupx">
                                                    <small id="emailHelp" class="form-text text-muted">Add one by one separate it by comma or press enter</small>
                                                    {{ form_widget(edit_form.extraSpeciality,  { 'attr': {'class': 'form-tag form-control'} } ) }}
                                                </div>
                                            </div>
                                        </div>
                                        #}
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <a href="{{ path('setProfileImage_show') }}"><i class="fa fa-file-image-o" aria-hidden="true"></i> Set Image profile/logo click here</a>
                                    {#
                                    <div class="box box-success">
                                        <div class="box-header with-border">
                                        <h3 class="box-title">Profile Image :</h3>
                                        </div>
                                        <div class="box-body">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <div id="image-holder">


                                                        {% if medicalDetail.mdProfileImage is empty %}
                                                            <img src="{{ asset('bundles/app/images/logo.svg') }}" alt="Profile Image" class="img-thumbnail"/>
                                                        {% else %}
                                                            {% if file_exists( 'uploads/'~medicalDetail.mdProfileImage ) %}
                                                                <img src="{{ image('uploads/'~medicalDetail.mdProfileImage).cropResize(140,140) }}" class="img-thumbnail">
                                                            {% endif %}
                                                        {% endif %}


                                                    </div>
                                                </div>
                                                <div class="col-lg-8">
                                                    <div class="form-group">
                                                        <div class="form_error">{{ form_errors(edit_form.mdProfileImage)}}</div>

                                                        <div class="">{{ form_widget(edit_form.mdProfileImage,  { 'attr': {'class': 'form-control'} } ) }}</div>
                                                    </div>
                                                    <div class="col-lg-3"></div>
                                                </div>

                                            </div>
                                        </div>
                                        <!-- /.box-body -->
                                    </div>
                                    #}

                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="row">

                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="box box-info {# collapsed-box #}">
                                <div class="box-header">
                                    <h3 class="box-title">Profile Description :
                                        {# <small>Advanced and full of features</small> #}
                                    </h3>
                                    <!-- tools box -->
                                    <div class="pull-right box-tools">
                                        <button type="button" class="btn btn-info btn-sm" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                                        <i class="fa fa-minus"></i></button>
                                    </div>
                                    <!-- /. tools -->
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body pad">
                                    <div class="form-group">
                                        <div class="form_error">{{ form_errors(edit_form.mdProfileDescription)}}</div>

                                        <div class="">{{ form_widget(edit_form.mdProfileDescription,  { 'attr': {'class': 'textarea'} } ) }} {# {{ form_widget(form.catalogName,  { 'attr': {'class': 'c4'} } ) }} #}</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="box box-info {# collapsed-box #}">
                                <div class="box-header">
                                    <h3 class="box-title">Academic Training :
                                        {# <small>Advanced and full of features</small> #}
                                    </h3>
                                    <!-- tools box -->
                                    <div class="pull-right box-tools">
                                        <button type="button" class="btn btn-info btn-sm" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                                        <i class="fa fa-minus"></i></button>
                                    </div>
                                    <!-- /. tools -->
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body pad">
                                    <div class="form-group">
                                        <div class="form_error">{{ form_errors(edit_form.mdAcademicTraining)}}</div>

                                        <div class="">{{ form_widget(edit_form.mdAcademicTraining,  { 'attr': {'class': 'textarea'} } ) }} {# {{ form_widget(form.catalogName,  { 'attr': {'class': 'c4'} } ) }} #}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="box box-info {# collapsed-box #}">
                                <div class="box-header">
                                    <h3 class="box-title">Professional Experience :
                                        {# <small>Advanced and full of features</small> #}
                                    </h3>
                                    <!-- tools box -->
                                    <div class="pull-right box-tools">
                                        <button type="button" class="btn btn-info btn-sm" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                                        <i class="fa fa-minus"></i></button>
                                    </div>
                                    <!-- /. tools -->
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body pad">
                                    <div class="form-group">
                                        <div class="form_error">{{ form_errors(edit_form.mdProfessionalExperience)}}</div>

                                        <div class="">{{ form_widget(edit_form.mdProfessionalExperience,  { 'attr': {'class': 'textarea'} } ) }} {# {{ form_widget(form.catalogName,  { 'attr': {'class': 'c4'} } ) }} #}</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="row">

                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="box box-info {# collapsed-box #}">
                                <div class="box-header">
                                    <h3 class="box-title">Courses/Seminars :
                                        {# <small>Advanced and full of features</small> #}
                                    </h3>
                                    <!-- tools box -->
                                    <div class="pull-right box-tools">
                                        <button type="button" class="btn btn-info btn-sm" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                                        <i class="fa fa-minus"></i></button>
                                    </div>
                                    <!-- /. tools -->
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body pad">
                                    <div class="form-group">
                                        <div class="form_error">{{ form_errors(edit_form.mdCoursesSeminars)}}</div>

                                        <div class="">{{ form_widget(edit_form.mdCoursesSeminars,  { 'attr': {'class': 'textarea'} } ) }} {# {{ form_widget(form.catalogName,  { 'attr': {'class': 'c4'} } ) }} #}</div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="box box-info {# collapsed-box #}">
                                <div class="box-header">
                                    <h3 class="box-title">Aditional Information :
                                        {# <small>Advanced and full of features</small> #}
                                    </h3>
                                    <!-- tools box -->
                                    <div class="pull-right box-tools">
                                        <button type="button" class="btn btn-info btn-sm" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                                        <i class="fa fa-minus"></i></button>
                                    </div>
                                    <!-- /. tools -->
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body pad">
                                    <div class="form-group">
                                        <div class="form_error">{{ form_errors(edit_form.mdAditionalInformation)}}</div>

                                        <div class="">{{ form_widget(edit_form.mdAditionalInformation,  { 'attr': {'class': 'textarea'} } ) }} {# {{ form_widget(form.catalogName,  { 'attr': {'class': 'c4'} } ) }} #}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             <div class="row" style="display:none">
                <div class="col-lg-12">
                    <div class="form-group">
                        <div class="form_error">{{ form_errors(edit_form.mdActive)}}</div>
                        <label>
                            {{ form_widget(edit_form.mdActive,  { 'attr': {'class': ''} } ) }} Active this Information
                        </label>

                    </div>
                </div>
             </div>
             <div class="row">
                <div class="col-lg-12">
                <ul class="list-unstyled list-inline">
        {#
        <li>
            <a class="btn btn-info" href="{{ path('medicaldetail_index') }}">Back to the list</a>
        </li>
        #}
        <li>
            {{ form_start(edit_form) }}
                        {{ form_widget(edit_form) }}
                        <input type="submit" value="Save" class="btn bg-navy "/>
                    {{ form_end(edit_form) }}
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </li>
    </ul>
                {#
                    {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-danger">
            {{ form_end(delete_form) }}
            #}
                </div>
             </div>

        {{form_end(edit_form)}}

    <hr>


{% endblock %}

{% block codejs %}
    <script>
        $(function () {
                // Replace the <textarea id="editor1"> with a CKEditor
                // instance, using default configuration.
                //CKEDITOR.replace('medical_detail_mdProfessionalExperience')
                //bootstrap WYSIHTML5 - text editor
            $('textarea').not('.form-tag').wysihtml5();


            {% for speciality in currentSpecialities %}
                $("#medical_detail_extraSpeciality option[value='" + {{ speciality.sp.spId }} + "']").prop("selected", true);
            {% endfor %}

            $("#medical_detail_extraSpeciality").select2({
                placeholder: "Select speciality",
                allowClear: true,
                //theme: "classic"
            });



            /* {# $('.form-tag').tagEditor({ initialTags:  {{  specialities|raw }}, placeholder: 'Enter specialities...'  });  #} */

            //======================================================
            //Image
            //======================================================
            $("#medical_detail_mdProfileImage").on('change', function () {
                //Get count of selected files
                var countFiles = $(this)[0].files.length;

                var imgPath = $(this)[0].value;
                var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();


                if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
                    var image_holder = $("#image-holder");
                    image_holder.empty();
                    if (typeof (FileReader) != "undefined") {

                        //loop for each file selected for uploaded.
                        for (var i = 0; i < countFiles; i++) {

                            var reader = new FileReader();
                            reader.onload = function (e) {
                                $("<img/>", {
                                    "src": e.target.result,
                                        "class": "thumb-image img-thumbnail"
                                }).appendTo(image_holder);
                            }

                            image_holder.show();
                            reader.readAsDataURL($(this)[0].files[i]);
                        }

                    } else {
                        alert("This browser does not support FileReader.");
                    }
                } else {
                    $.alert({
                            icon: 'fa fa-warning',
                            title: 'Error!',
                            type: "red",
                            content: 'Please select only images',
                        });
                    $("#medical_detail_mdProfileImage").val("");
                }
            });
        })
    </script>
{% endblock %}
