{% extends 'app/base.html.twig' %}

{% block title_page %}
    EMR || Check In
{% endblock %}

{% block breadcrumb %}
    {# {{ include('EmrBundle:consulta:_breadcrumb.html.twig' )  }} #}
{% endblock %} 

{% block submenutop %}
    {# {{ include('EmrBundle:consulta:_submenu.html.twig' )  }} #}
{% endblock %} 



{% block header %}
        <h1>You must pay to be published on the website</h1>
{% endblock %}

{% block content %}
    
    <style>
        .labelOptPayment{
            cursor: pointer !important;
        }
    </style>
    
    {% if pendingDays.days > 0 %}
        <div class="alert alert-info">
            <i class="fa fa-check-circle" aria-hidden="true"></i> 
            You have <span class="label label-success">{{ pendingDays.licences }}</span> 
            {% if pendingDays.licences > 1 %}
                <a href="{{ path('payments_info') }}" class="alert-link">transactions</a>
                actives
            {% else %}
                <a href="{{ path('payments_info') }}" class="alert-link">transaction</a>
                active
            {% endif %}
            
             with a total of <span class="label label-success">{{ pendingDays.days }}
                {% if pendingDays.days >= 2 %}
                    days
                {% else %}
                    day 
                {% endif %}
                
                </span>
                &nbsp;to be published on the website
            
        </div>
    {% endif %}
    <div class="box  ">
        <div class="box-header">
            <h3 class="box-title paymentGateway">
                {# <img src="https://www.paypalobjects.com/webstatic/mktg/logo-center/logotipo_paypal_tarjetas.jpg" border="0" alt="" /> #}

                {% if processors|length > 1 %}
                    Select one Paymet Gateway 
                {% endif %}

                <ul class="list-unstyled list-inline">
                
                    {% for processor in processors %}
                        <li>
                            {% if processors|length == 1 %}
                                <label for="{{ processor.ppId }}" class=""><input type="radio" name="optionPayment" class="optionPayment minimal" id="{{ processor.ppId }}" value="{{ processor.ppId }}" checked="true"> 
                                    {% if processor.ppUrlLogo != "" %}
                                        <img src="{{ processor.ppUrlLogo }}" alt="{{ processor.ppName }}">
                                    {% else %}
                                        {{ processor.ppName }}
                                    {% endif %}
                                </label>
                            {% else %}
                                <label for="{{ processor.ppId }}" class="labelOptPayment"><input type="radio" name="optionPayment" class="optionPayment minimal" id="{{ processor.ppId }}" value="{{ processor.ppId }}" > 
                                    {% if processor.ppUrlLogo != "" %}
                                        <img src="{{ processor.ppUrlLogo }}" alt="{{ processor.ppName }}">
                                    {% else %}
                                        {{ processor.ppName }}
                                    {% endif %}
                                <label>
                            {% endif %}
                        </li>
                    {% endfor %}
                </lu>
            </h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body pad">
            <h4>Our plans methods</h4><hr>
            <table class="table table-striped">
                <thead class="">
                    <tr>
                        <th>Select an Option</th>
                        <th>Plan</th>
                        <th>Months</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {# {% set existFree = false %} #}       
                    {% for value in pricing %}
                        {% if hasFreeAccount == 0 or ( hasFreeAccount != 0 and value.prPrice != 0 ) %}
                        <tr>
                            <td>
                                {% if value.prId == 1 %}  
                                    <input type="radio" name="optionPricing" class="optionPricing minimal" id="" value="{{ value.prId }}" checked="true">
                                {% else %}
                                    <input type="radio" name="optionPricing" class="optionPricing minimal" id="" value="{{ value.prId }}" >
                                {% endif %}
                            </td>
                            <td>
                                {% if value.prPrice == 0 %}
                                    {% set existFree = value.prId %}
                                    <input type = "hidden" id="f" value="{{ existFree }}">
                                    <h4 ><span class="label label-success">{{ value.prPlan }}</span></h4>
                                {% else %}
                                    {{ value.prPlan }}    
                                {% endif %}
                            </td>
                            <td>{{ value.prMonths }}</td>
                            <td>
                                {% if value.prPrice == 0 %}
                                    {% set existFree = value.prId %}
                                    <input type = "hidden" id="f" value="{{ existFree }}">
                                    <h4 ><span class="label label-success">$ {{ value.prPrice|number_format(2, '.', ',') }}</span></h4>
                                {% else %}
                                   $ {{ value.prPrice|number_format(2, '.', ',') }}
                                {% endif %}
                                
                            </td>
                            <td>{{ value.prDescription }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}    
                </tbody>
            </table>
            
            <hr>
            <span id="holderBtnSend"><button class='btn btn-primary' id='btnPay'><i class='fa fa-credit-card' aria-hidden='true'></i> Pay Now</button></span>
            <a href="{{ path('payments_info') }}" class='btn btn-primary'><i class="fa fa-handshake-o" aria-hidden="true"></i> My transaction</a>                
        </div>
    </div>

    <style>
        .noPayMent{
            opacity: 0.1;
            filter: alpha(opacity=10); /* For IE8 and earlier */

        }
        .noPayMent::before {
            content: ""; 
        }

        .noPayMent ul li label{
            cursor: default !important;
        }
    </style>
{% endblock %}

{% block codejs %}
    <script>
        //$(document).on("ready", function(){
        $(function () {
           //iCheck for checkbox and radio inputs
            
            /*
            $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
                checkboxClass: 'icheckbox_minimal-blue',
                radioClass   : 'iradio_minimal-blue'
            });
            */
            var inputFree = $("#f");
            var idFree = inputFree.val();    
            if( inputFree.length > 0 )
            {
                $(".optionPricing").change(function(){ 
                    var value = $(this).val();
                    if( value == idFree )
                    {
                        console.log("es free");
                        $(".paymentGateway").addClass("noPayMent");
                        $(".optionPayment").attr("disabled", true);
                        $(".optionPayment").prop('checked', false);
                        var btn = "<button class='btn btn-primary' id='btnPay'><i class='fa fa-smile-o' aria-hidden='true'></i> Get it Now</button>";
                    }else{
                        $(".paymentGateway").removeClass("noPayMent");
                        $(".optionPayment").attr("disabled", false);
                        var btn = "<button class='btn btn-primary' id='btnPay'><i class='fa fa-credit-card' aria-hidden='true'></i> Pay Now</button>";
                    }
                    $("#holderBtnSend").html(btn);
                });

                /*    
                //$(".optionPricing").on('ifChanged', function (e) {
                $('.optionPricing').on('ifClicked', function() {   
                    var value = $(this).val(); 
                    console.log(value);
                });
                */
            }

            $("body").on("click","#btnPay",function(){
                
                var optPricing = $(".optionPricing:checked").val();
                
                if( inputFree.length > 0 ){
                    var optPayment = "free";
                }
                else
                {
                    var optPayment = $(".optionPayment:checked").val();
                    if( optPayment == undefined )
                    {
                        $.alert({
                            icon: 'fa fa-warning',
                            title: 'Alert!',
                            type: "red",
                            content: 'Select a payment method!',
                        });
                        return false;
                    }
                }
                

                if( optPricing == undefined )
                {
                    $.alert({
                        icon: 'fa fa-warning',
                        title: 'Alert!',
                        type: "red",
                        content: 'Select one plan to pay!',
                    });
                    return false;
                }

               $("#holder_loading").show(); 
                window.location = "{{ path('payments_validation') }}?payment_gateway="+optPayment+"&pricing="+optPricing;
            });
        });
    </script>    
{% endblock %}
